@import url("../../../../assets/css/reservation-results.css");


.banner-manage-reserve-wrap{
  margin: 0 0 40px;
}
.banner-manage-reserve{
  background: url(/assets/images/manage-reservation/banner.jpg) center center no-repeat;
  background-size: cover;
  padding: 150px 40px;
  text-align: center;
  position: relative;
}
.banner-manage-reserve:before{
  content: " ";
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.mng-title{
  position: relative;
}
.mng-title h1{
  color: #fff;
  letter-spacing: 4.5px;
  font-size: 22px;
  margin: 0 0 20px;
}
.mng-title h2{
  font-size: 50px;
  color: #fff;
  margin: 0 0 24px;
}
.mng-banner-info{
  color: #fff;
  opacity: 0.8;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.mng-btn a{
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 30px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  background: linear-gradient(to right, #fff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}
.mng-btn a:hover{
  color: #000;
  background-position: left bottom;
}

.table-list{
  margin: 0 0 25px;
}
.table-list ul, .table-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.table-list ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #17a2b8;
  justify-content: space-between;
  color: #fff;
}
.table-list li{
  margin: 10px 25px;
}
.table-list li strong {
  display: inline-block;
  padding-right: 15px;
}
