<div class="reservation-detail-wrap">
  <div class="reservation-sidebar">
    <div class="reservation-sidebar-inner">

      <div class="reset-wrap d-flex">
        <a href="javascript:void(0)" (click)="closeFilterBar()"  class="btn btn-sm btn-success for-mobile mr-auto">
          <span class="fa fa-angle-left"></span>
          Back
        </a>
      </div>

      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Detail Search <span class="fa fa-spin fa-spinner" *ngIf="this.state.loading.searchForm"></span></a></div>
        <div class="accordion-body">
          <ul style="max-height: inherit;">
            <li *ngFor="let field of this.state.searchForm.searchFields">
              <input type="text" [(ngModel)]="field.model" placeholder="{{field.name}}" class="select-field-secondary" />
            </li>
            <li><button class="btn btn-info btn-block" (click)="startSearch();getResults()">Search Reservations</button></li>
          </ul>
        </div>
      </div>


      <div class="accordion-group group-active" *ngIf="state.showForm">
        <div class="accordon-heading"><a href="javascript:void(0);">Button Styles <span class="fa fa-spin fa-spinner" *ngIf="this.state.loading.searchForm"></span></a></div>
        <div class="accordion-body">
          <div class="combine-btns">
            <ul>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-search"></span> Detail Search</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-file-pdf-o"></span> Add Request</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-gear"></span> Change Ladge</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-envelope-o"></span> Email Conf</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-calendar-check-o"></span> CXL Res</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-refresh"></span> Sync</a></li>
              <li><a href="javascript:void(0)" class="com-btn has-icon"><span class="fa fa-clone"></span> Clone</a></li>
              <li><a href="javascript:void(0)" class="btn btn-info btn-block">Save</a></li>
              <li><a href="javascript:void(0)" class="btn btn-danger btn-block" (click)="backToList()">Close</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="reservation-content-area">
    <div class="reservation-content-inner">
      <div class="" >
        <div class="box position-relative box-skin" id="container">
          <div class="box-header">
            Manage Reservations
          </div>
          <div class="box-body" [ngClass]="{'table-loader': (state.loading.results || state.loading.column) }">


            <div class="banner-manage-reserve-wrap" *ngIf="!state.showGrid && !state.showForm">
              <div class="banner-manage-reserve">
                <div class="mng-title">
                  <h1>Manage Reservations</h1>
                  <h2>Please Select from Sidebar</h2>
                  <div class="mng-banner-info">
                    <p>You need to select something from leftsidear then related results should be appear according to specific search and after that can view more in detail. </p>
                  </div>
                  <div class="mng-btn">
                    <a href="javascript:void(0)">Search More</a>
                  </div>
                </div>
              </div>
            </div>

            <ng-container *ngIf="state.showGrid">
              <div class="table-responsive table-housekeeping-wrap" *ngIf="state.grid.items.length > 0">
                <table class="table table-striped table-bordered row-border hover room-table jsmartable table-skin">
                  <thead>
                  <tr>
                    <th *ngFor="let column of state.grid.columns.searchFields">{{column.name}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody class="mobile-slider">
                    <tr *ngFor="let item of state.grid.items">
                      <td *ngFor="let column of state.grid.columns.searchFields">{{item[column.property]}}</td>
                      <td>
                        <a href="javascript:void(0)" (click)="selectReservation(item)">
                          <span class="fa fa-eye skin-color"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h3 *ngIf="state.grid.items.length<=0">No Record Found.</h3>
            </ng-container>
            <ng-container *ngIf="state.showForm">
              <div class="table-responsive table-housekeeping-wrap">
                <div class="table-list">
                  <ul>
                    <li><strong>Confirmation#:</strong> <span>{{state.selectedReservation['number']}}</span></li>
                    <li><strong>Status:</strong> <span>{{state.selectedReservation['statusName']}}</span></li>
                    <li><strong>In House Status:</strong> <span></span></li>
                    <li><strong>Site:</strong> <span></span></li>
                  </ul>
                </div>
              </div>
              <div class="accordion custom-accordion accordion-sm text-left" id="accordionExample_requests">
                <div class="mb-3">
                  <div class="card-header" id="headingOne">
                    <h2 class="accordion-link has-delete-icon">
                      <span [attr.data-toggle]="'collapse'"
                            [attr.data-target]="'#collaps-requests'"
                            [attr.aria-expanded]="'true'" style="display: block; ">
                          Requests
                      </span>
                    </h2>
                  </div>
                  <div id="collaps-requests" class="collapse show" [attr.data-parent]="'#accordionExample_requests'">
                    <div class="box-primary box-lr box-theme rounded-0 form-primary">

                      <div class="custom-accordion-wrap">
                        <div class="custom-accordion" *ngFor="let request of state.selectedReservation['requests']; let secIndex=index;">
                          <h3 class=""><a href="javascript:void(0)"> {{request['resourceType']}}</a></h3>
                          <div class="custom-accordion-content exp" >
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="">Start Date</label>
                                  <input type="text" class="form-control" [(ngModel)]="request['startDate']" />
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="">End Date</label>
                                  <input type="text" class="form-control" [(ngModel)]="request['endDate']" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="accordion custom-accordion accordion-sm text-left" id="accordionExample_Guests">
                <div class="mb-3">
                  <div class="card-header" id="Guests">
                    <h2 class="accordion-link has-delete-icon">
                      <span [attr.data-toggle]="'collapse'"
                            [attr.data-target]="'#collaps-guests'"
                            [attr.aria-expanded]="'true'" style="display: block; ">
                          Guests
                      </span>
                    </h2>
                  </div>
                  <div id="collaps-guests" class="collapse show" [attr.data-parent]="'#accordionExample_Guests'">
                    <div class="box-primary box-lr rounded-0 form-primary">

                      <div class="custom-accordion-wrap">
                        <div class="custom-accordion" *ngFor="let guest of state.selectedReservation['guests']; let secIndex=index;">
                          <h3 class=""><a href="javascript:void(0)"> {{guest['firstName']}} {{guest['lastName']}}</a></h3>
                          <div class="custom-accordion-content exp">
                            <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group" *ngFor="let prop of state.selectedReservation['reservationProfiles']">
                                    <label class="control-label"><strong>{{prop.roleName}}:</strong> {{prop.lastOrCompany}}</label>

                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </ng-container>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
