<div class="reservation-detail-wrap">
  <div class="reservation-sidebar">
    <div class="reservation-sidebar-inner">

      <div class="reset-wrap d-flex">
        <a href="javascript:void(0)" (click)="closeFilterBar()"  class="btn btn-sm btn-success for-mobile mr-auto">
          <span class="fa fa-angle-left"></span>
          Back
        </a>
      </div>

      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Detail Search</a></div>
        <div class="accordion-body">
          <ul style="max-height: inherit;">
            <li><input type="text" placeholder="Search" class="select-field-secondary" /></li>
            <li><button class="btn btn-info btn-block" (click)="toggleAdvanceSearch()">Detail Search</button></li>
          </ul>
        </div>
      </div>

      <div class="accordion-group group-active" *ngIf="state.doingAdvanceSearch">
        <div class="accordon-heading"><a href="javascript:void(0);">Advance Search</a></div>
        <div class="accordion-body">
          <ul style="max-height: inherit;">
            <li><input type="text" placeholder="Last Name" class="select-field-secondary" /></li>
            <li><input type="text" placeholder="First Name" class="select-field-secondary" /></li>
            <li>
              <select class="select-field-secondary">
                <option>Res Status</option>
              </select>
            </li>
            <li><input type="text" placeholder="Call Center Number" class="select-field-secondary" /></li>
            <li><input type="text" placeholder="Site Number" class="select-field-secondary" /></li>
            <li>
              <select class="select-field-secondary">
                <option>Maximum Results</option>
              </select>
            </li>
            <li><input type="text" placeholder="Arrival Date" class="select-field-secondary" /></li>
            <li><input type="text" placeholder="Departure Date" class="select-field-secondary" /></li>
            <li><input type="text" placeholder="Date of Stay" class="select-field-secondary" /></li>
            <li>
              <select class="select-field-secondary">
                <option>Contractor Code</option>
              </select>
            </li>
            <li>
              <select class="select-field-secondary">
                <option>Division Code</option>
              </select>
            </li>
            <li>
              <select class="select-field-secondary">
                <option>Cost Code</option>
              </select>
            </li>
            <li>
              <br>
              <label class="onlywrap"><input  type="checkbox" class="checkbox"> Include History</label>
            </li>
            <li><button class="btn btn-info btn-block" (click)="startSearch()" *ngIf="state.doingAdvanceSearch">Search</button></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="reservation-content-area">
    <div class="reservation-content-inner">


      <div class="" >
        <div class="box position-relative box-skin" id="container">
          <div class="box-header">
            <div class="row">
              <div class="col-5">
                <h3>Search Results</h3>
              </div>
            </div>

          </div>
          <div class="box-body">
            <ng-container *ngIf="state.doingAdvanceSearch && state.showGrid">
              <div class="table-responsive table-housekeeping-wrap">
                <table class="table table-striped table-bordered row-border hover room-table jsmartable table-skin">
                  <thead>
                  <tr>
                    <th>Number</th>
                    <th>City</th>
                    <th>Name</th>
                    <th>Res Status</th>
                    <th>Arrival Date</th>
                    <th>Departure Date</th>
                    <th>Date Stay</th>
                    <th>Contractor Code</th>
                    <th>Division Code</th>
                    <th>Cost Code</th>
                  </tr>
                  </thead>
                  <tbody class="mobile-slider">
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >100190</td>
                    <td data-title="Day">Abellira</td>
                    <td data-title="Total">Reno</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  <tr>
                    <td data-title="Date" >1005123</td>
                    <td data-title="Day">Adams</td>
                    <td data-title="Total">Sam</td>
                    <td data-title="Avail"></td>
                    <td data-title="Pickup">7/13/2019</td>
                    <td data-title="%">7/13/2019</td>
                    <td data-title="%">Future</td>
                    <td data-title="%">Current</td>
                    <td data-title="%"></td>
                    <td data-title="%"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
