<div class="reservation-detail-wrap">
  <div class="reservation-sidebar">
    <div class="reservation-sidebar-inner">

      <div class="reset-wrap d-flex">
        <a href="javascript:void(0)" (click)="closeFilterBar()"  class="btn btn-sm btn-success for-mobile mr-auto">
          <span class="fa fa-angle-left"></span>
          Back
        </a>
      </div>

      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Detail Search <span class="fa fa-spin fa-spinner" *ngIf="this.state.loading.searchForm"></span></a></div>
        <div class="accordion-body">
          <ul style="max-height: inherit;">
            <li *ngFor="let field of this.state.searchForm.searchFields">
              <input type="text" [(ngModel)]="field.model" placeholder="{{field.name}}" class="select-field-secondary" />
            </li>
            <li><button class="btn btn-info btn-block" (click)="startSearch();getResults()">Search Reservations</button></li>
          </ul>
        </div>
      </div>


      <div class="accordion-group group-active">
        <div class="accordon-heading"><a href="javascript:void(0);">Button Styles <span class="fa fa-spin fa-spinner" *ngIf="this.state.loading.searchForm"></span></a></div>
        <div class="accordion-body">
          <div class="combine-btns">
            <ul>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-search"></span> Detail Search</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-file-pdf-o"></span> Add Request</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-gear"></span> Change Ladge</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-envelope-o"></span> Email Conf</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-calendar-check-o"></span> CXL Res</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-refresh"></span> Sync</a></li>
              <li><a href="#" class="com-btn has-icon"><span class="fa fa-clone"></span> Clone</a></li>
              <li><a href="#" class="btn btn-info btn-block">Save</a></li>
              <li><a href="#" class="btn btn-danger btn-block">Close</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="reservation-content-area">
    <div class="reservation-content-inner">


      <div class="" >
        <div class="box position-relative box-skin" id="container">
          <div class="box-header">
            Manage Reservations
          </div>
          <div class="box-body" [ngClass]="{'table-loader': (state.loading.results || state.loading.column) }">

            <div class="prototype-section" *ngIf="!state.showGrid && !state.showForm">
              <h4>Please Select from Sidebar</h4>
              <p>Need to put some detail in left sidebar then result will appear</p>
            </div>

            <ng-container *ngIf="state.showGrid">
              <div class="table-responsive table-housekeeping-wrap" *ngIf="state.grid.items.length > 0">
                <table class="table table-striped table-bordered row-border hover room-table jsmartable table-skin">
                  <thead>
                  <tr>
                    <th *ngFor="let column of state.grid.columns.searchFields">{{column.name}}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody class="mobile-slider">
                    <tr *ngFor="let item of state.grid.items">
                      <td *ngFor="let column of state.grid.columns.searchFields">{{item[column.property]}}</td>
                      <td>
                        <a href="javascript:void(0)" (click)="selectReservation(item)">
                          <span class="fa fa-eye skin-color"></span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h3 *ngIf="state.grid.items.length<=0">No Record Found.</h3>
            </ng-container>
            <ng-container *ngIf="state.showForm">
              <p>
                <button class="btn btn-info" (click)="backToList()"> <span class="fa fa-angle-left pr-1"></span> Back</button>
              </p>

              <div class="table-responsive table-housekeeping-wrap">
                <table class="table table-striped table-bordered row-border hover room-table jsmartable table-skin">
                  <tr>
                    <td>Confirmation#:</td>
                    <td>{{state.selectedReservation['number']}}</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>{{state.selectedReservation['statusName']}}</td>
                  </tr>
                  <tr>
                    <td>In House Status:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Site:</td>
                    <td></td>
                  </tr>
                </table>
              </div>

              <h3>Requests</h3>
              <div class="box" *ngFor="let request of state.selectedReservation['requests']">
                <div class="box-header">{{request['resourceType']}}</div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="">Start Date</label>
                        <input type="text" class="form-control" [(ngModel)]="request['startDate']" />
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label class="">End Date</label>
                        <input type="text" class="form-control" [(ngModel)]="request['endDate']" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="mt-5">Guests</h3>
              <div class="box" *ngFor="let guest of state.selectedReservation['guests']">
                <div class="box-header">{{guest['firstName']}} {{guest['lastName']}}</div>
                <div class="box-body"></div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
