<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <h1>Business Profile</h1>
  <div class="custom-section" [ngClass]="{'table-loader': state.processing}">
    <ng-container>
      <div class="custom-main template-outer">
        <ng-container *ngIf="state.processing">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.processing">
          <div class="custom-content tabs-content" id="content-1" style="display: block;">
            <div class="book-time-wrap">
              <div class="row">
                <ng-container *ngFor="let field of formFields; let i = index">
                  <div class="col-md-6 col-12" [ngStyle]="{display: field.visible ? '' : 'none'}">

                      <app-form-fields
                        [field]="field"
                        [definitionType]="1"
                        [form]="form"
                        [resourceType]="'00000000-0000-0000-0000-000000000000'"
                        [index]="-1"
                        [fieldIndex]="i"
                        [bookingID]="state.bookingID"
                        (fieldBinding)="bindField($event)"
                      >

                      </app-form-fields>
                  </div>
                </ng-container>
              </div>
              <div class="reservation-bot-btns d-flex">
                <a href="javascript:void(0);" class="btn btn-secondary"><span class="fa fa-angle-left"></span> Back</a>
                <button type="submit" class="btn btn-success ml-auto" (click)="submitForm()" [disabled]="state.processing" >Next <span class="fa fa-angle-right"></span> <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>
              </div>
            </div>
          </div>
        </ng-container>
        <!--<br/>
        <button type="submit" class="btn btn-info btn-block" (click)="submitForm()" [disabled]="state.processing">Next <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>-->
      </div>
    </ng-container>
  </div>
</div>
