<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <div class="alert alert-primary custom-logo-top no-icon m-0 alert-dismissible fade show" role="alert">
    Business Profile
  </div>
  <div class="custom-section" [ngClass]="{'table-loader': state.processing}">
    <ng-container>
      <div class="custom-main template-outer">
        <ng-container>
          <div class="custom-content tabs-content" id="content-1" style="display: block;">
            <div class="book-time-wrap">
              <div class="row">
                <ng-container *ngFor="let field of formFields; let i = index">

                  <div class="col-md-6 col-12" [ngStyle]="{display: field.visible ? '' : 'none'}">

                      <app-form-fields
                        [field]="field"
                        [definitionType]="1"
                        [form]="form"
                        [resourceType]="'00000000-0000-0000-0000-000000000000'"
                        [index]="-1"
                        [fieldIndex]="i"
                        [bookingID]="state.bookingID"
                        (fieldBinding)="bindField($event)"
                        [hasIcon]="state.processing"
                      >

                      </app-form-fields>
                  </div>
                </ng-container>
              </div>
              <div class="reservation-bot-btns d-flex">
                <a href="javascript:void(0);" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                  Cancel
                </a>
                <button type="submit" class="btn btn-success ml-auto" (click)="submitForm()" [disabled]="state.processing" >Next <span class="fa fa-angle-right"></span> <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>
              </div>
            </div>
          </div>
        </ng-container>
        <!--<br/>
        <button type="submit" class="btn btn-info btn-block" (click)="submitForm()" [disabled]="state.processing">Next <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>-->
      </div>
      <app-confirm-modal [confirmationMessage]="'Do you want to restart reservation?'" (isConfirmed)="restartReservation($event)"></app-confirm-modal>
    </ng-container>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Booking</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body p-0">
        <div class="modal-topbar form-primary form-grey">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Add Traveler</label>
                <div class="field-icon-wrap">
                  <span class="user field-icon mt-secon"></span>
                  <input type="text" placeholder="Search by last name, first name" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label>Add / Replace</label>
                <div class="field-icon-wrap">
                  <span class="fa fa-refresh field-icon mt-secon"></span>
                  <select class="form-control">
                    <option>Select Resources</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="custom-accordion-wrap plr-20">
          <div class="custom-accordion">
            <h3 class="has-icons active">
              <a href="javascript:void(0)">Add Room Tues, April 5 - Jan 10</a>
              <div class="custom-acc-icons">
                <span class="#" class="fa fa-trash-o remove-accordion align-self-center"></span>
                <span class="btn btn-info btn-addmore">Add</span>
              </div>
            </h3>
            <div class="custom-accordion-content exp">
              <div class="form-primary">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label>Date</label>
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label>End Date</label>
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label>Site</label>
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label>Room Type</label>
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label>Contract</label>
                      <input class="form-control" type="text" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="table-cart-wrap">
            <table class="table">
              <tr>
                <td><strong>Westjet</strong></td>
                <td>WS 115 Aug 24</td>
                <td>08:00 AM: Calgary Intl. Airport</td>
                <td>08:00 AM: Vancouver Intl. Airport</td>
                <td><strong>Flex $326.35</strong></td>
                <td><a href="#" class="btn btn-sm btn-outline-info">Remove</a></td>
              </tr>
              <tr>
                <td><strong>Room</strong></td>
                <td>WS 115 Aug 24</td>
                <td>Site: McClelland Lake Lodge</td>
                <td>Room Type: Standard Room</td>
                <td><strong>Flex $326.35</strong></td>
                <td><a href="#" class="btn btn-sm btn-outline-info">Remove</a></td>
              </tr>
              <tr>
                <td><strong>Westjet</strong></td>
                <td>WS 115 Aug 24</td>
                <td>12:00 AM: Calgary Intl. Airport</td>
                <td>12:00 AM: Vancouver Intl. Airport</td>
                <td><strong>Econo $94.35</strong></td>
                <td><a href="#" class="btn btn-sm btn-outline-info">Remove</a></td>
              </tr>
            </table>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button><button class="btn btn-success" type="button">Save</button>
      </div>
    </div>
  </div>
</div>
