<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <div class="alert alert-primary custom-logo-top no-icon m-0 alert-dismissible fade show" role="alert">
    Booking
  </div>
  <div class="custom-section" [ngClass]="{'table-loader': state.processing || state.loadingGuest}">
    <ng-container>
      <div class="custom-main template-outer">
        <ng-container *ngIf="state.processing || state.loadingGuest">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.processing && !state.loadingGuest">
          <div class="custom-content tabs-content" id="content-1" style="display: block;">
            <div class="">
              <div class="input-group mb-4 field-wrap field-gray-wrap traveler-field" *ngIf="profiles.length==0">
                <span class="user"></span>
                <ng-autocomplete
                  [data]="travelerList"
                  [searchKeyword]="keyword"
                  (selected)='selectTraveler($event)'
                  (inputChanged)='getloadProfiles($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplateProfiles"
                  (inputCleared)="searchCleared('traveler-list')"
                  [notFoundTemplate]="notFoundProfilesTemplate"
                  [debounceTime]="400"
                  [isLoading]="state.isLoadingTraveler"
                  [minQueryLength]="3"
                  placeHolder="{{'Search Traveler.'}}"
                  class="flex-automate"
                  name="traveler"
                  autocomplete="off"
                >

                </ng-autocomplete>

                <ng-template #itemTemplateProfiles let-item>
                  <a href="javascript:void(0)">
                    <div class="auto-txtwrap text-left">
                      <div class="autotxt" [innerHTML]="item.firstName+' '+item.lastName">
                      </div>
                    </div>
                  </a>
                </ng-template>

                <ng-template #notFoundProfilesTemplate let-notFound>
                  {{state.errorMsg}}
                </ng-template>
                <div class="" *ngIf="state.error">
                  <label class="error">{{state.error['message']}}</label>
                </div>
                <div _ngcontent-gim-c105="" class="input-group-append">
                  <button type="button" class="btn btn-info ptb-10">Search <span class="fa fa-search position-static font-14 ml-2"></span></button>
                  <button type="button" class="btn btn-success ptb-10" (click)="addNewProfile()"> New Profile <span class="fa fa-plus position-static font-14"></span></button>
                </div>
              </div>
              <ng-container *ngIf="profiles">
                <div class="accordion custom-accordion accordion-sm accordion-has-book text-left" id="accordionExample" *ngFor="let profile of profiles; let i=index">
                <div class="mb-3">
                  <div class="card-header" id="headingOne">
                    <h2 class="accordion-link has-delete-icon"
                        [attr.data-toggle]="'collapse'"
                        [attr.data-target]="'#collaps-'+i"
                        [attr.aria-expanded]="'true'"
                        data-toggle="collapse"
                        data-target="#collaps-1"
                        aria-expanded="true">
                      Booking For {{profile.guestName}}
                      <a class="fa fa-trash-o remove-accordion" (click)="removeProfile(i)"></a>
                      <a class="btn btn-info btn-book" (click)="bookProfile(i, profile)">Book <span *ngIf="profile['processing']" class="fa fa-spin fa-spinner"></span></a>
                    </h2>
                  </div>
                  <div id="collaps-{{i}}" class="collapse show" data-parent="#accordionExample">
                    <div class="box box-lr">
                      <div class="custom-accordion-wrap">
                        <div class="custom-accordion" *ngFor="let section of profile.inputGroups">
                          <h3 class=""><a href="javascript:void(0)">{{section.name}}</a></h3>
                          <div class="custom-accordion-content">
                            <div class="row">
                              <div class="col-md-6" *ngFor="let field of section.inputFields">
                                <div class="field-wrap-outer">
                                  <label for="">{{field.name}}<span class="text-danger" *ngIf="field.isRequired">*</span></label>
                                  <div class="field-wrap">
                                    <ng-container *ngIf="field.searchField">
                                      <select class="form-control no-icon" [(ngModel)]="field.value">
                                        <option value=""> Select {{field.name}}</option>
                                        <option value="{{option.value}}" *ngFor="let option of field.searchField.list">{{option.text}}</option>
                                      </select>
                                    </ng-container>
                                    <ng-container *ngIf="!field.searchField">
                                      <input type="text" placeholder="{{field.name}}" [(ngModel)]="field.value" class="form-control no-icon" />
                                    </ng-container>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <!--<div class="custom-accordion">
                          <h3 class=""><a href="javascript:void(0)">Notes</a></h3>
                          <div class="custom-accordion-content">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="field-wrap-outer">
                                  <label for="">First Name</label>
                                  <div class="field-wrap">
                                    <input type="text" class="form-control no-icon">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field-wrap-outer">
                                  <label for="">Last Name</label>
                                  <div class="field-wrap">
                                    <input type="text" class="form-control no-icon">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="custom-accordion">
                          <h3 class=""><a href="javascript:void(0)">Travel Coordinator</a></h3>
                          <div class="custom-accordion-content ">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="field-wrap-outer">
                                  <label for="">First Name</label>
                                  <div class="field-wrap">
                                    <input type="text" class="form-control no-icon">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="field-wrap-outer">
                                  <label for="">Last Name</label>
                                  <div class="field-wrap">
                                    <input type="text" class="form-control no-icon">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <!--<br/>
        <button type="submit" class="btn btn-info btn-block" (click)="submitForm()" [disabled]="state.processing">Next <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>-->
      </div>

    </ng-container>
  </div>
</div>
