<div class="reservation-detail-wrap">
    <div class="reservation-sidebar">
      <div class="reservation-sidebar-inner">
        <div class="reset-wrap d-flex">
          <a href="javascript:void(0)" (click)="closeFilterBar()"  class="btn btn-sm btn-success for-mobile mr-auto">
            <span class="fa fa-angle-left"></span>
            Back
          </a>

        </div>

        <div class="accordion-group group-active">
          <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-resources">Resource<span *ngIf="state.loading.resources" class="fa fa-spinner fa-spin"></span></a></div>
          <div class="accordion-body">
            <input type="text" placeholder="search..." class="form-control" />
          </div>
        </div>


        <div class="resv-btns">
          <div class="mb-1 mt-1" *ngIf="state.massEdit.items.length > 0 && !state.isMassEditting">
            <a href="javascript:void(0)" class="full-btn shake" (click)="setMassEdit();state.isMassEditting=true" *ngIf="!state.isMassEditting">
              <span class="fa fa-edit"></span> Mass Edit
            </a>
            <a href="javascript:void(0)" (click)="resetMassEdit()" class="full-btn" >
              <span class="fa fa-close"></span> Clear Selection
            </a>
          </div>
          <div class="mb-1 mt-1" *ngIf="state.massEdit.items.length > 0 && state.isMassEditting">
            <a href="javascript:void(0)" class="full-btn shake" (click)="state.isMassEditting=false">
              <span class="fa fa-close"></span> Cancel
            </a>
            <a href="javascript:void(0)" (click)="processMassEdit()" class="full-btn" >
              <span class="fa fa-download"></span> Save
            </a>
          </div>
          <a *ngIf="state.massEdit.items.length > 0" href="javascript:void(0)" class="full-btn" (click)=" resetMassEdit();loadRecords(0,true)">
            <span class="fa fa-refresh"></span>
            Refresh
            <i class="fa fa-spin fa-spinner" *ngIf="!state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
          </a>

            <a *ngIf="!this.state.isMassEditting" href="javascript:void(0)" class="full-btn" (click)=" loadRecords(0,false)">
              <span class="fa fa-refresh"></span>
              {{ state.filterForm.includeHolds ? 'Cancel' : 'Refresh'}}
              <i class="fa fa-spin fa-spinner" *ngIf="!state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
            </a>
            <a *ngIf="!this.state.isMassEditting" href="javascript:void(0)" class="full-btn" (click)=" loadRecords(0,true)">
              <span class="fa fa-edit"></span>
              Show Hold <i class="fa fa-spin fa-spinner" *ngIf="state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
            </a>
        </div>
      </div>
    </div><!-- reservation-sidebar -->
    <div class="reservation-content-area availability-component">
        <div class="reservation-content-inner">
          <div class="filter-btn-wrap for-mobile" >
            <a href="javascript:void(0)" (click)="openFilterBar()" class="filters-btn">Filters <span  class="fa fa-filter"></span></a>
          </div>
          <app-loader *ngIf="state.loading.records || state.resourceTypeValue <= 0"></app-loader>
          <div class="table-editable-wrap table-datatitle-wrap" *ngIf="!state.loading.records && state.resourceTypeValue > 0" [ngClass]="{'table-loader': state.loading.save}">
              <div *ngIf="remoteData.length <= 0">
                <div class="norecord">
                  <h3 class="text-center">No Record Found</h3>
                </div>
              </div>
              <div *ngIf="remoteData">
                <app-record-grid *ngIf="state.resourceTypeValue == 1 && remoteData.hasOwnProperty('data') && remoteData['data'].length > 0"
                           [remoteData]="remoteData"
                           [state]="state"
                           (nextPage)="nextPage($event)"
                           (prevPage)="previousPage($event)"
                           (edit)="setEditMode($event)"
                           (endEdit)="resetEditMode($event)"
                           (save)="saveCard($event)"
                           (startSelection)="setMultipleSelect($event)"
                           (completeSelection)="completeMultipleSelect($event)"
                           (updateRow)="updateRow($event)"
                ></app-record-grid>
              </div>
          </div>
        </div>
    </div><!-- reservation-content-area -->
  </div><!-- reservation-detail-wrap -->




