<table *ngIf="remoteData.length > 0" class="table table-editable">
  <thead>
  <th *ngIf="state.isMassEditting"></th>
  <th>Flight# </th>
  <th>Leg</th>
  <th>Date</th>
  <th>Origination</th>
  <th>Depart</th>
  <th>Arrive</th>
  <th>Destination</th>
  <th>Total</th>
  <th>Avail</th>
  <th>Booked</th>
  </thead>
  <tbody>
  <tr *ngFor="let row of remoteData" [ngClass]="{'edited-tr': state.isEditting}">
    <td *ngIf="state.isMassEditting">
      <input type="checkbox" [(ngModel)]="row.checked" />
    </td>
    <td>{{row.identifier}}</td>
    <td>{{row.leg}}</td>
    <td>{{dateParser.parseDate(row.date)}}</td>
    <td>{{row.from}}</td>
    <td>{{dateParser.parseDateToTime(row.startDate)}}</td>
    <td>{{dateParser.parseDateToTime(row.endDate)}}</td>
    <td>{{row.to}}</td>
    <td>
      <span *ngIf="!state.isEditting">{{row.total || 0}}</span>
      <input type="text" class="edit-field" [(ngModel)]="row.total" *ngIf="state.isEditting">
    </td>
    <td>{{row.available || 0}}</td>
    <td>{{row.booked || 0}}</td>
  </tr>
  </tbody>
</table>
