<div class="topinfo-wrap skin-txt">
  <div class="for-mobile">
    <h3 class="text-center">{{getResourceType()}}</h3>
  </div>
  <div class="for-mobile">
    <ul class="pagination justify-content-center">
      <li>Showing {{(this.state.recordVisible + 1)}} of {{this.state.mobileContainer.length}} Records</li>
    </ul>
  </div>
</div>
<table *ngIf="remoteData.length > 0" class="table table-editable"
       (swipeleft)="swipeNext()"
       (swiperight)="swipePrev()">
  <thead>
  <tr>
    <th>Flight#</th>
    <th>Leg</th>
    <th>Date</th>
    <th>Depart</th>
    <th>Origination</th>

    <th>Arrive</th>
    <th>Destination</th>
    <th>Total</th>
    <th>Avail</th>
    <th>Booked</th>
    <th *ngIf="state.isMassEditting"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of remoteData; let index = index"
      [ngClass]="{'edited-tr': row.isEditting,  'selected': row.checked,  'hide': state.isMassEditting && !row.checked}">
    <td data-title="Flight#" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{row.identifier}}</td>
    <td data-title="Leg" (mousedown)="rowSelection(row, index)" (mouseup)="rowCompletion(row, index)">{{row.leg}}</td>
    <td data-title="Date" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{dateParser.parseDate(row.date)}}</td>
    <td data-title="Depart" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{dateParser.parseDateToTime(row.startDate)}}</td>
    <td data-title="Origination" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{row.from}}</td>

    <td data-title="Arrive" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{dateParser.parseDateToTime(row.endDate)}}</td>
    <td data-title="Destination" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{row.to}}</td>
    <td data-title="Total">
      <span class="text-desc-edit" *ngIf="!state.filterForm.includeHolds"
            (click)="row.isEditting = !state.isMassEditting ? !row.isEditting : false">{{row.total || 0}}
      </span>



      <!-- <div class="input-group editable-fieldwrap has-icon" *ngIf="state.filterForm.includeHolds">
        <input type="text" class="form-control" [disabled]="row['$processing_total']" class="edit-field" [(ngModel)]="row['total']" (focusin)="row['$old_total']=row['total']" (blur)="updateRecord(row, index, 'total')">
        <div class="input-group-append" *ngIf="row['$processing_total'] || (row['$processed_total'] && row['$old_total'])">
          <span class="input-group-text" id="basic-addon2"> <span class="fa fa-refresh"></span> </span>
        </div>
      </div> -->

      <div class="input-group editable-fieldwrap" [ngClass]="{'has-icon':(row['$processing_total'] || row['$processed_total'])}" *ngIf="state.filterForm.includeHolds">
        <input type="text" class="form-control" [disabled]="row['$processing_total']" [(ngModel)]="row['total']" (focusin)="row['$old_total']=row['total']" (blur)="updateRecord(row, index, 'total')" placeholder="111" aria-describedby="111">
        <div class="input-group-append" *ngIf="row['$processing_total'] || row['$processed_total']">
          <span class="input-group-text" id="basic-addon2">
            <span class="fa fa-refresh fa-spin" [popover]="'processing'" triggers="mouseenter:mouseleave" *ngIf="row['$processing_total']"></span>
            <span class="fa fa-undo" [popover]="'Undo'" triggers="mouseenter:mouseleave" *ngIf="row['$processed_total']" (click)="row['$processed_total']=false;row['total'] = row['$old_total'];row['$old_total']=null; updateRecord(row, index, 'total')"></span>
          </span>
        </div>
      </div>


      <!-- <div class="cancel-iputwrap" *ngIf="state.filterForm.includeHolds">
        <input type="text" [disabled]="row['$processing_total']" class="edit-field" [(ngModel)]="row['total']" (focusin)="row['$old_total']=row['total']" (blur)="updateRecord(row, index, 'total')">
        <span class="fa fa-refresh fa-spin" [popover]="'processing'" triggers="mouseenter:mouseleave" *ngIf="row['$processing_total']"></span>
        <span class="fa fa-undo" [popover]="'Undo change'" triggers="mouseenter:mouseleave" *ngIf="row['$processed_total'] && row['$old_total']" (click)="row['total'] = row['$old_total'];row['$old_total']=null; updateRecord(row, index, 'total')"></span>
      </div>-->
    </td>
    <td data-title="Avail" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{row.available || 0}}</td>
    <td data-title="Booked" (mousedown)="rowSelection(row, index)"
        (mouseup)="rowCompletion(row, index)">{{row.booked || 0}}</td>
    <td data-title="Remove" *ngIf="state.isMassEditting">
      <a class="close-sm" popover="Remove" triggers="mouseenter:mouseleave"
         (click)="removeFromMassEdit(row, index)"></a>
    </td>
  </tr>
  </tbody>
</table>
<div class="for-mobile">
  <ul class="pagination justify-content-center pagination-arrow">
    <li class="page-item page-prev">
      <a href="javascript:void(0)" (click)="swipePrev()" class="page-link">
        <span>Previous</span>
      </a>
    </li>
    <li>
      <button *ngIf="!state.isEditting" (click)="setEdit()" class="btn btn-default btn-success btn-inarrow"> Edit
      </button>
      <button *ngIf="state.isEditting" (click)="resetEdit()" class="btn btn-default btn-secondary btn-inarrow">End
        Edit
      </button>
      <button *ngIf="state.isEditting" (click)="callSave()" class="btn btn-default btn-success btn-inarrow">Save
      </button>
    </li>
    <li class="page-item page-next">
      <a href="javascript:void(0)" (click)="swipeNext()" class="page-link">
        <span>Next</span>
      </a></li>
  </ul>
</div>
