<div class="topinfo-wrap">
  <div class="for-mobile">
    <h3 class="text-center">{{getResourceType()}}</h3>
  </div>
  <div class="for-mobile">
    <ul class="pagination justify-content-center">
      <li>Showing {{(this.state.recordVisible+1)}} of {{this.state.mobileContainer.length}} Records</li>
    </ul>
  </div>
</div>
<table *ngIf="remoteData.length > 0" class="table table-editable"
       (swipeleft)="swipeNext()"
       (swiperight)="swipePrev()">
  <thead>
  <th *ngIf="state.isMassEditting"></th>
  <th>Flight# </th>
  <th>Leg</th>
  <th>Date</th>
  <th>Depart</th>
  <th>Origination</th>

  <th>Arrive</th>
  <th>Destination</th>
  <th>Total</th>
  <th>Avail</th>
  <th>Booked</th>
  </thead>
  <tbody>
  <tr *ngFor="let row of remoteData; let index = index" [ngClass]="{'edited-tr': state.isEditting,  'selected': row.checked}">
    <td data-title="" *ngIf="state.isMassEditting">
      <input type="checkbox" [(ngModel)]="row.checked" />
    </td>
    <td data-title="Flight#" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.identifier}}</td>
    <td data-title="Leg" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.leg}}</td>
    <td data-title="Date" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{dateParser.parseDate(row.date)}}</td>
    <td data-title="Depart" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{dateParser.parseDateToTime(row.startDate)}}</td>
    <td data-title="Origination" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.from}}</td>

    <td data-title="Arrive" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{dateParser.parseDateToTime(row.endDate)}}</td>
    <td data-title="Destination" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.to}}</td>
    <td data-title="Total">
      <span *ngIf="!state.isEditting">{{row.total || 0}}</span>
      <input type="text" class="edit-field" [(ngModel)]="row.total" *ngIf="state.isEditting" (blur)="setAsSelected(row)">
    </td>
    <td data-title="Avail" mousedown="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.available || 0}}</td>
    <td data-title="Booked" (mousedown)="setMultipleSelect(index, row, $event)" (mouseup)="completeMultipleSelect(index, row, $event)">{{row.booked || 0}}</td>
  </tr>
  </tbody>
</table>
<div class="for-mobile">
  <ul class="pagination justify-content-center pagination-arrow">
    <li class="page-item page-prev">
      <a href="javascript:void(0)" (click)="swipePrev()" class="page-link">
        <span>Previous</span>
      </a>
    </li>
    <li>
      <button *ngIf="!state.isEditting" (click)="setEdit()" class="btn btn-default btn-success btn-inarrow"> Edit </button>
      <button *ngIf="state.isEditting" (click)="resetEdit()" class="btn btn-default btn-secondary btn-inarrow">End Edit</button>
      <button *ngIf="state.isEditting" (click)="callSave()" class="btn btn-default btn-success btn-inarrow">Save</button>
    </li>
    <li class="page-item page-next">
      <a href="javascript:void(0)" (click)="swipeNext()" class="page-link">
      <span>Next</span>
    </a></li>
  </ul>
</div>
