<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <div class="alert alert-primary custom-logo-top no-icon m-0 alert-dismissible fade show" role="alert">
    Business Profile
  </div>
  <div class="custom-section" [ngClass]="{'table-loader': state.processing}">
    <ng-container>
      <div class="custom-main template-outer">
        <ng-container *ngIf="state.processing">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.processing">
          <div class="custom-content tabs-content" id="content-1" style="display: block;">
            <div class="book-time-wrap">
              <div class="row">

                  <div class="col-md-6 col-12">


                  </div>

              </div>
              <div class="reservation-bot-btns d-flex">
                <a href="javascript:void(0);" class="btn btn-secondary" (click)="openModal()">
                  Cancel
                </a>
                <button type="submit" class="btn btn-success ml-auto" (click)="submitForm()" [disabled]="state.processing" >Next <span class="fa fa-angle-right"></span> <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>
              </div>
            </div>
          </div>
        </ng-container>
        <!--<br/>
        <button type="submit" class="btn btn-info btn-block" (click)="submitForm()" [disabled]="state.processing">Next <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>-->
      </div>
      <app-confirm-modal [confirmationMessage]="'Do you want to restart reservation?'" (isConfirmed)="restartReservation($event)"></app-confirm-modal>
    </ng-container>
  </div>
</div>
