<div class="reservation-detail-wrap">
    <div class="reservation-sidebar">
      <div class="reservation-sidebar-inner">
        <div class="reset-wrap d-flex">
          <a href="javascript:void(0)" (click)="closeFilterBar()"  class="btn btn-sm btn-success for-mobile mr-auto">
            <span class="fa fa-angle-left"></span>
            Back
          </a>

        </div>
        <div *ngIf="!this.state.isMassEditting">
<!--          <div class="accordion-group">-->
<!--            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-site">Site<span *ngIf="state.loading.sites" class="fa fa-spinner fa-spin"></span></a></div>-->
<!--            <div class="accordion-body">-->
<!--              <select class="select-field" name="resourceTypeId" [(ngModel)]="state.filterForm.siteID">-->
<!--                <option value="00000000-0000-0000-0000-000000000000"> < None ></option>-->
<!--                <option *ngFor="let site of state.sites" value="{{site.value}}">{{site.text}}</option>-->
<!--              </select>-->
<!--            </div>-->
<!--          </div>-->
          <div class="accordion-group group-active">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-resources">Resource<span *ngIf="state.loading.resources" class="fa fa-spinner fa-spin"></span></a></div>
            <div class="accordion-body">
              <select class="select-field" name="resourceTypeId"  triggers="mouseenter:mouseleave" [popover]="state.filterLabel.resourceTypeID"  [(ngModel)]="state.filterForm.resourceTypeID" (change)="setResourceType(); resetFilter(); setToolTipValue('resourceTypeID', 'resourceTypes')">
                <option value="00000000-0000-0000-0000-000000000000"> < None ></option>
                <option *ngFor="let resource of state.resourceTypes" value="{{resource.value}}">{{resource.text}}</option>
              </select>
            </div>
          </div>
          <div class="accordion-group group-active">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-profile">Business Profiles<span *ngIf="state.loading.ruleBag" class="fa fa-spinner fa-spin"></span></a></div>
            <div class="accordion-body">
              <select class="select-field" name="resourceTypeId" [(ngModel)]="state.filterForm.businessProfileID" triggers="mouseenter:mouseleave" [popover]="state.filterLabel.businessProfileID" (change)="loadContracts();  loadContractorList(); setToolTipValue('businessProfileID', 'businessProfiles')">
                <option value="00000000-0000-0000-0000-000000000000"> < None ></option>
                <option *ngFor="let site of state.businessProfiles" value="{{site.value}}">{{site.text}}</option>
              </select>
            </div>
          </div>
          <div class="accordion-group group-active">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-price">Dashboard</a></div>
            <div class="accordion-body">
                <div class="rev-datewrap">
                    <div class="rev-date">Start Date:</div>
                    <input type="text" bsDatepicker
                           [bsConfig]="bsConfig"
                           [(ngModel)]="state.filterForm.beginDate"
                           class="form-control">
                </div>
                <div class="rev-datewrap">
                  <div class="rev-date">End Date:</div>
                  <input type="text" bsDatepicker
                         [(ngModel)]="state.filterForm.endDate"
                         [bsConfig]="bsConfig"
                         [minDate]="state.filterForm.beginDate"
                         class="form-control">
              </div>
            </div>
          </div>
          <div class="accordion-group group-active">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-contact">Contract<span *ngIf="state.loading.contract" class="fa fa-spinner fa-spin"></span></a></div>
            <div class="accordion-body">
                <select class="select-field" [(ngModel)]="state.filterForm.contractID" triggers="mouseenter:mouseleave" [popover]="state.filterLabel.contractID"  (change)="loadContractSites();setToolTipValue('contractID', 'contracts')">
                  <option value="00000000-0000-0000-0000-000000000000">None</option>
                  <option *ngFor="let contract of state.contracts" value="{{contract.value}}">{{contract.text}}</option>
                </select>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordon-heading">
              <a href="javascript:void(0);" class="icon-contain icon-lodge">Lodge<span *ngIf="state.loading.ContractSite" class="fa fa-spinner fa-spin"></span></a>
            </div>
            <div class="accordion-body">
              <select class="select-field" [(ngModel)]="state.filterForm.ContractSite" triggers="mouseenter:mouseleave" [popover]="state.filterLabel.ContractSite" (change)="setToolTipValue('ContractSite', 'ContractSites')" >
                <option value="00000000-0000-0000-0000-000000000000">None</option>
                <option *ngFor="let lodge of state.ContractSites" value="{{lodge.value}}">{{lodge.text}}</option>
              </select>
            </div>
          </div>

          <div class="accordion-group">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-contractor">Contractor<span *ngIf="state.loading.ContractorList" class="fa fa-spinner fa-spin"></span></a></div>
            <div class="accordion-body">
              <select class="select-field" [(ngModel)]="state.filterForm.contractorID" [disabled]="state.resourceTypeValue == 2"  triggers="mouseenter:mouseleave" [popover]="state.filterLabel.contractorID" (change)="setToolTipValue('contractorID', 'ContractorList')">
                <option value="00000000-0000-0000-0000-000000000000">None</option>
                <option *ngFor="let contractor of state.ContractorList" value="{{contractor.value}}">{{contractor.text}}</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="this.state.isMassEditting">
          <div class="accordion-group group-active">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-contractor">Number</a></div>
            <div class="accordion-body">
              <input type="text" maxlength="4" class="form-control" placeholder="Please enter value" [(ngModel)]="state.massEditForm.number" />
            </div>
          </div>
          <div class="accordion-group group-active" *ngIf="state.resourceTypeValue == 1">
            <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-contractor">Room Type</a></div>
            <div class="accordion-body">
              <select [(ngModel)]="state.massEditForm.roomType" class="form-control">
                <option value="00000000-0000-0000-0000-000000000000">None</option>
                <option value="{{room.id}}" *ngFor="let room of state.roomTypeList">{{room.value}}</option>

              </select>
            </div>
          </div>
        </div>
        <div class="resv-btns">
          <div class="mb-1 mt-1" *ngIf="state.massEdit.items.length > 0 && !state.isMassEditting">
            <a href="javascript:void(0)" class="full-btn shake" (click)="setMassEdit();state.isMassEditting=true" *ngIf="!state.isMassEditting">
              <span class="fa fa-edit"></span> Mass Edit
            </a>
            <a href="javascript:void(0)" (click)="resetMassEdit()" class="full-btn" >
              <span class="fa fa-close"></span> Clear Selection
            </a>
          </div>
          <div class="mb-1 mt-1" *ngIf="state.massEdit.items.length > 0 && state.isMassEditting">
            <a href="javascript:void(0)" class="full-btn shake" (click)="state.isMassEditting=false">
              <span class="fa fa-close"></span> Cancel
            </a>
            <a href="javascript:void(0)" (click)="processMassEdit()" class="full-btn" >
              <span class="fa fa-download"></span> Save
            </a>
          </div>
          <a *ngIf="state.massEdit.items.length > 0" href="javascript:void(0)" class="full-btn" (click)=" resetMassEdit();loadRecords(0,true)">
            <span class="fa fa-refresh"></span>
            Refresh
            <i class="fa fa-spin fa-spinner" *ngIf="!state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
          </a>
            <!-- <a *ngIf="!this.state.isMassEditting && ((remoteData.hasOwnProperty('data') && remoteData['data'].length) || (!remoteData.hasOwnProperty('data') && remoteData.length))" href="javascript:void(0)" class="btn-mass-edit" [ngClass]="{ 'disabled' :  remoteData.length <=0}" (click)="setMassEdit()">Mass Edit</a>
            <a *ngIf="!this.state.isEditting && !this.state.isMassEditting && ((remoteData.hasOwnProperty('data') && remoteData['data'].length) || (!remoteData.hasOwnProperty('data') && remoteData.length))" href="javascript:void(0)" class="btn-edit" [ngClass]="{ 'disabled' : remoteData.length <=0}" (click)="setEditMode()">Edit</a>
            <a *ngIf="this.state.isEditting || this.state.isMassEditting" href="javascript:void(0)" class="btn-edit" [ngClass]="{ 'disabled' : !state.recordLoaded}" (click)="resetEditMode()">End Edit</a>

            <a *ngIf="this.state.isMassEditting" href="javascript:void(0)" class="btn-ref" (click)="selectNone()">Select None</a>
            <a *ngIf="this.state.isMassEditting" href="javascript:void(0)" class="btn-mass-edit" (click)="selectAll()">Select All</a>
            <a *ngIf="(this.state.isEditting || this.state.isMassEditting) && ((remoteData.hasOwnProperty('data') && remoteData['data'].length) || (!remoteData.hasOwnProperty('data') && remoteData.length))" href="javascript:void(0)" class="btn-save" [ngClass]="{ 'disabled' : !state.isEditting && !state.isMassEditting}" (click)="saveChanges()"> Save</a>
            -->
<!--            <a *ngIf="state.filterForm.includeHolds" href="javascript:void(0)" class="full-btn" (click)="loadRecords()">-->
<!--              <span class="fa fa-refresh"></span>-->
<!--              Refresh-->
<!--              <i class="fa fa-spin fa-spinner" *ngIf="state.loading.records || state.resourceTypeValue <= 0"></i>-->
<!--            </a>-->
            <a *ngIf="!this.state.isMassEditting" href="javascript:void(0)" class="full-btn" (click)=" loadRecords(0,false)">
              <span class="fa fa-refresh"></span>
              {{ state.filterForm.includeHolds ? 'Cancel' : 'Refresh'}}
              <i class="fa fa-spin fa-spinner" *ngIf="!state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
            </a>
            <a *ngIf="!this.state.isMassEditting" href="javascript:void(0)" class="full-btn" (click)=" loadRecords(0,true)">
              <span class="fa fa-edit"></span>
              Show Hold <i class="fa fa-spin fa-spinner" *ngIf="state.filterForm.includeHolds && (state.loading.records || state.resourceTypeValue <= 0)"></i>
            </a>
        </div>
      </div>
    </div><!-- reservation-sidebar -->
    <div class="reservation-content-area availability-component">
        <div class="reservation-content-inner">
          <div class="filter-btn-wrap for-mobile" >
            <a href="javascript:void(0)" (click)="openFilterBar()" class="filters-btn">Filters <span  class="fa fa-filter"></span></a>
          </div>
          <app-loader *ngIf="state.loading.records || state.resourceTypeValue <= 0"></app-loader>
          <div class="table-editable-wrap table-datatitle-wrap" *ngIf="!state.loading.records && state.resourceTypeValue > 0" [ngClass]="{'table-loader': state.loading.save}">
              <div *ngIf="remoteData.length <= 0"> <div class="norecord"><h3 class="text-center">No Record Found</h3></div> </div>
              <div *ngIf="remoteData">
                <app-rooms *ngIf="state.resourceTypeValue == 1 && remoteData.hasOwnProperty('data') && remoteData['data'].length > 0"
                           [remoteData]="remoteData"
                           [state]="state"
                           (nextPage)="nextPage($event)"
                           (prevPage)="previousPage($event)"
                           (edit)="setEditMode($event)"
                           (endEdit)="resetEditMode($event)"
                           (save)="saveCard($event)"
                           (startSelection)="setMultipleSelect($event)"
                           (completeSelection)="completeMultipleSelect($event)"
                           (updateRow)="updateRow($event)"
                ></app-rooms>
                <app-travel *ngIf="state.resourceTypeValue == 2 && !remoteData.hasOwnProperty('data') && remoteData.length > 0"
                            [remoteData]="remoteData"
                            [state]="state"
                            (nextPage)="nextPage($event)"
                            (prevPage)="previousPage($event)"
                            (edit)="setEditMode($event)"
                            (endEdit)="resetEditMode($event)"
                            (save)="saveCard($event)"
                            (startSelection)="setMultipleSelect($event)"
                            (completeSelection)="completeMultipleSelect($event)"
                            (updateRow)="updateRow($event)"
                ></app-travel>
              </div>
          </div>
        </div>
    </div><!-- reservation-content-area -->
  </div><!-- reservation-detail-wrap -->
<app-alert-modal [messages]="state.errorMessages" (closeIt)="closeAlertModal()" ></app-alert-modal>
<app-modal [message]="state.modal.message" [modalTitle]="state.modal.title" (closeIt)="closeModal()"></app-modal>



