<div class="reservation-detail-wrap">
    <div class="reservation-sidebar">
      <div class="reservation-sidebar-inner">
        <div class="accordion-group group-active">
          <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-price">Dashboard</a></div>
          <div class="accordion-body">
              <div class="rev-datewrap">
                  <div class="rev-date">Start Date:</div>
                  <input type="text" value="9-18-2020">
              </div>
              <div class="rev-datewrap">
                <div class="rev-date">End Date:</div>
                <input type="text" value="9-18-2020">
            </div>
          </div>
        </div>
        <div class="accordion-group group-active">
          <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-departure">Billing Profile</a></div>
          <div class="accordion-body">
              <select class="form-control">
                  <option value="">Billing Info</option>
              </select>
          </div>
        </div>
        <div class="accordion-group group-active">
          <div class="accordon-heading"><a href="javascript:void(0);" class="icon-contain icon-arrival">Lodge</a></div>
          <div class="accordion-body">
            <select class="form-control">
                <option value="">Billing Info</option>
            </select>
          </div>
        </div>
        
        <div class="resv-btns">
            <a href="#">Mass Edit</a>
            <a href="#">Edit</a>
            <a href="#">Save</a>
            <a href="#">Refresh</a>
        </div>
      </div>
    </div><!-- reservation-sidebar -->
    <div class="reservation-content-area">
        <div class="reservation-content-inner">
            <table class="table">
                <thead>
                    <th>Bus# </th>
                    <th>Leg</th>
                    <th>Date</th>
                    <th>Origination</th>
                    <th>Depart</th>
                    <th>Arrive</th>
                    <th>Destination</th>
                    <th>Total</th>
                    <th>Avail</th>
                    <th>Booked</th>
                </thead>
                <tbody>
                    <tr>
                        <td>IN-1234</td>
                        <td>1</td>
                        <td>9-18-2020</td>
                        <td>(COC)Cochrane</td>
                        <td>14:00</td>
                        <td>16:00</td>
                        <td>(DLK)Detour Leke</td>
                        <td>50</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>IN-1234</td>
                        <td>1</td>
                        <td>9-18-2020</td>
                        <td>(COC)Cochrane</td>
                        <td>14:00</td>
                        <td>16:00</td>
                        <td>(DLK)Detour Leke</td>
                        <td>50</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>IN-1234</td>
                        <td>1</td>
                        <td>9-18-2020</td>
                        <td>(COC)Cochrane</td>
                        <td>14:00</td>
                        <td>16:00</td>
                        <td>(DLK)Detour Leke</td>
                        <td>50</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>IN-1234</td>
                        <td>1</td>
                        <td>9-18-2020</td>
                        <td>(COC)Cochrane</td>
                        <td>14:00</td>
                        <td>16:00</td>
                        <td>(DLK)Detour Leke</td>
                        <td>50</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>IN-1234</td>
                        <td>1</td>
                        <td>9-18-2020</td>
                        <td>(COC)Cochrane</td>
                        <td>14:00</td>
                        <td>16:00</td>
                        <td>(DLK)Detour Leke</td>
                        <td>50</td>
                        <td>50</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- reservation-content-area -->
  </div><!-- reservation-detail-wrap -->
  
  
  
  