<div class="modal fade" [ngClass]="{'show': state.open}" [ngStyle]="{'display': (state.open?'block': '')}" id="exampleModalDelete">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="sure-wrap">
          <h2 class="text-error text-danger">Please see following error{{messages.length > 1 ? 's': ''}}</h2>
          <p *ngFor="let message of messages">{{message}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
