<link type="text/css" rel="stylesheet" href="/Sodexo/innfinite2-worthydown/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap lg-spacetop" >

  <div class="custom-section" [ngClass]="{'table-loader': state.processing}">
    <ng-container>
      <div class="custom-main template-outer">
        <ng-container *ngIf="state.processing">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.processing">
          <div class="custom-content tabs-content" id="content-1" style="display: block;">

            <div class="custom-header">
              <h2>Settings</h2>
              <p>We'll always let you know about important settings, but you pick what else you want.</p>
            </div>

            <div class="book-time-wrap">
              <div class="row">
                <div class="col-md-6 col-12">
                  <div class="field-wrap field-wrap-outer field-gray-wrap">
                    <label>Date Format</label>
                    <select class="form-control no-icon" [(ngModel)]="form.dateFormat">
                      <option value="">Select</option>
                      <option value="{{format.label}}" *ngFor="let format of dfService.dateFormats">{{format.label}} ({{format.value}})</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="field-wrap field-wrap-outer field-gray-wrap">
                    <label>Time Format</label>
                    <select class="form-control no-icon" [(ngModel)]="form.timeFormat">
                      <option [ngValue]="''">12 Hrs</option>
                      <option [ngValue]="'24'">24 Hrs</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="field-wrap field-wrap-outer field-gray-wrap">
                    <label>Language</label>
                    <select class="form-control no-icon" [(ngModel)]="form.language">
                      <option value="">Please select Language</option>
                      <option value="en">English</option>
                      <option value="es">Spanish</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="field-wrap field-wrap-outer field-gray-wrap">
                    <label>Theme Option</label>
                    <select class="form-control no-icon" [(ngModel)]="form.theme">
                      <option value="">Please select theme</option>
                      <option value="theme-dark">Theme Innfinity</option>
                      <option value="theme-light">Theme Light</option>
                      <option value="theme-dark-primary">Theme Dark</option>
                    </select>
                  </div>
                </div>


              </div>
              <div class="reservation-bot-btns d-flex pt-4">
                <button type="submit" class="btn btn-success ml-auto" (click)="submitForm()" [disabled]="state.processing" >Save</button>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>
</div>
