<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <h1>Book</h1>
  <div class="custom-section">
    <app-loader *ngIf="state.initiateBooking || state.loadingGroups"></app-loader>
    <ng-container *ngIf="!state.initiateBooking && !state.loadingGroups">
      <div class="custom-sidebar">
        <div class="custom-nav" id="tabsCustom">
          <ul>
            <li *ngFor="let group of state.templateGroups" class="" [ngClass]="{'active': group.name == state.selectedGroup['name']}">
              <a href="javascript:void(0)" (click)="setTemplateGroup(group)"><em class="{{group.cssClass}}"></em> <span>{{group.name}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="custom-main template-outer">
        <div class="row">
          <div class="col-md-6">
            <div class="field-wrap-outer">
              <label>Business Profile*</label>
              <div class="field-wrap">
                <select class="form-control" name="resourceTypeID" [(ngModel)]="form.ResourceTypeID">
                  <option value="{{type.value}}" *ngFor="let type of ruleBags">{{type.text}}</option>
                </select>
                <span class="globel-world-icon" *ngIf="!state.initiateBooking"></span>
                <span class="fa fa-spin fa-spinner" *ngIf="state.initiateBooking"></span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field-wrap-outer">
              <label>Traveler*</label>
              <div class="field-wrap field-gray-wrap traveler-field">
                <span class="user"></span>
                <ng-autocomplete
                  [data]="travelerList"
                  [searchKeyword]="keyword"
                  (selected)='selectTraveler($event)'
                  (inputChanged)='getloadProfiles($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplateProfiles"
                  (inputCleared)="searchCleared('traveler-list')"
                  [notFoundTemplate]="notFoundProfilesTemplate"
                  [debounceTime]="400"
                  [isLoading]="state.isLoadingTraveler"
                  [minQueryLength]="3"
                  placeHolder="{{form.ResourceTypeID == '' ? 'Select Business Profile first' : 'Search Traveler.'}}"
                  class="testing"
                  name="traveler"
                >

                </ng-autocomplete>

                <ng-template #itemTemplateProfiles let-item>
                  <a href="javascript:void(0)">
                    <div class="auto-txtwrap">
                      <div class="autoicon">
                        <span class="fa" [ngClass]="{'fa-plane': item['glyph'] == 'airport', 'fa-map-marker': item['glyph'] == 'locality' }"></span>
                      </div>
                      <div class="autotxt">
                        <strong [innerHTML]="item.description"></strong><span>({{item.text}})</span>
                      </div>
                    </div>
                  </a>
                </ng-template>

                <ng-template #notFoundProfilesTemplate let-notFound>
                  {{state.errorMsg}}
                </ng-template>
                <div class="" *ngIf="state.error">
                  <label class="error">{{state.error['message']}}</label>
                </div>
                <!--                  <input type="text" placeholder="Select Business Profile First" class="form-control">-->
                <!--                  <span class="fa fa-paper-plane-o"></span>-->
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="state.loadingTemplate">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.loadingTemplate">
          <ng-container *ngIf="state.selectedGroup['buildGroup'] != true">
            <div class="row">
              <div class="col-md-12">
                <div class="field-wrap-outer">
                  <label>Template*</label>
                  <div class="field-wrap">
                    <select class="form-control" name="resourceTypeID" [(ngModel)]="form.template" (change)="loadTemplate(form.template)">
                      <option [ngValue]="template.templateID || '00000000-0000-0000-0000-000000000000'" *ngFor="let template of state.selectedGroup['templates']">{{template.name}}</option>
                    </select>
                    <span class="globel-world-icon" *ngIf="!state.initiateBooking"></span>
                    <span class="fa fa-spin fa-spinner" *ngIf="state.initiateBooking"></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="state.selectedGroup['buildGroup'] == true">
            <div class="trip-radio-wrap">
              <div class="custom-control custom-radio custom-control-inline" *ngFor="let template of state.selectedGroup['templates']; let index=index">
                <input type="radio" id="template_{{index}}" [(ngModel)]="form.template" value="{{template.templateID}}" name="template" class="custom-control-input">
                <label class="custom-control-label" (click)="loadTemplate(template.templateID)" for="template_{{index}}">{{template.name}}</label>
              </div>
            </div>
          </ng-container>
          <div class="custom-content tabs-content template-wrap" id="content-1" style="display: block;" *ngFor="let resource of state.selectedTemplate['resources']; let i = index">
            <div class="book-time-wrap">
              <div class="row">
                <div class="col-sm-12">
                  <h3>{{resource.resourceItems[0].text}}</h3>
                </div>
              </div>
              <div class="row" *ngIf="state.selectedTemplate['isDynamic'] || i == 0">
                <div class="col-6 col-md-6">
                  <div class="field-wrap-outer">
                    <label>Departure Date*</label>
                    <div class="field-wrap">
                      <input type="text"
                             [(ngModel)]="resource['BeginDate']"
                             bsDatepicker
                             [bsConfig]="bsConfig"
                             (ngModelChange)="setDateTo(i)"
                             [minDate]="minDateFrom"
                             placeholder="Departure Date"
                             name="departure_date"
                             class="form-control">
                      <span class="fa fa-calendar-o"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-6" *ngIf="resource.canSearchByTime">
                  <div class="field-wrap-outer">
                    <label>Departure Time</label>
                    <div class="field-wrap time-picker-wrap">
                      <select class="form-control" [(ngModel)]="resource['BeginTime']">
                        <option value="">9:30 AM</option>
                      </select>
                      <span class="fa fa-clock-o clockicon"></span>
<!--                      <timepicker [(ngModel)]="form.BeginTime"-->
<!--                                  [mousewheel]="true"-->
<!--                                  [arrowkeys]="true"-->
<!--                      ></timepicker>-->
                      <!--                        <input type="text" placeholder="" class="form-control">-->
                      <!--                        <span class="fa fa-clock-o"></span>-->
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-6">
                  <div class="field-wrap-outer">
                    <label>Return Date*</label>
                    <div class="field-wrap">
                      <input type="text"
                             [(ngModel)]="resource['EndDate']"
                             bsDatepicker
                             [minDate]="resource['BeginDate']"
                             [bsConfig]="bsConfig"
                             placeholder="Return Date"
                             name="arrival_date"
                             class="form-control">
                      <span class="fa fa-calendar-o"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-6" *ngIf="resource.canSearchByTime">
                  <div class="field-wrap-outer time-picker-wrap">
                    <label>Return Time</label>
                    <div class="field-wrap">
                      <select class="form-control" [(ngModel)]="resource['BeginTime']">
                        <option value="">9:30 AM</option>
                      </select>
                      <span class="fa fa-clock-o clockicon"></span>
<!--                      <timepicker [(ngModel)]="form.EndTime" [mousewheel]="true" [arrowkeys]="true"></timepicker>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row template-fields" >
                <app-form-builder class="col-md-6 col-6" *ngFor="let field of resource['searchFields']; let j =index" [field]="field"
                                  [resourceType]="resource['resourceTypeID']"
                                  [index]="i+'_'+j"
                                  [bookingID] = "form.bookingID"
                                  [form] = "form"
                ></app-form-builder>
              </div>
            </div>
          </div>
        </ng-container>
        <br/>
        <button type="submit" class="btn btn-info btn-block" [disabled]="state.processing" (click)="startBookingSearch()">Search <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>

      </div>
    </ng-container>
  </div>
</div>


<script src="/assets/js/reservation.js" defer></script>
