<link type="text/css" rel="stylesheet" href="/assets/css/reservation.css" />

<div class="overlay-bg"></div>

<div class="custom-section-wrap" >
  <h1 class="inline-block">
    <span class="custom-logo">ようこそ</span>
    <span class="custom-desc">Welcome Bienvenue Marhaba</span>
  </h1>
  <div class="custom-section" [ngClass]="{'table-loader': state.isSearching}">

    <app-loader *ngIf="state.initiateBooking || state.loadingGroups"></app-loader>
    <ng-container *ngIf="!state.initiateBooking && !state.loadingGroups">
      <div class="custom-top-section">
        <div class="tagtop">Book</div>
        <div class="row">
          <div class="col-md-6">
            <div class="field-wrap-outer">
              <label>Business Profile*</label>
              <div class="field-wrap">
                <select class="form-control" name="resourceTypeID"
                        [ngClass]="{
                        'is-invalid': this.state.formErrors['ResourceTypeID'],
                        'is-valid': !this.state.formErrors['ResourceTypeID']
                        }"
                        [(ngModel)]="form.ResourceTypeID"
                        (ngModelChange)="assignRuleBag()">
                  <option value="{{type.value}}" *ngFor="let type of ruleBags">{{type.text}}</option>
                </select>
                <span class="globel-world-icon" *ngIf="!state.initiateBooking && !state.assigningBusinessProfile"></span>
                <span class="fa fa-spin fa-spinner" *ngIf="state.initiateBooking || state.assigningBusinessProfile"></span>
                <label class="text-danger error" *ngIf="this.state.formErrors['ResourceTypeID']">{{this.state.formErrors['ResourceTypeID']}}</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field-wrap-outer">
              <label>Traveler</label>
              <div class="field-wrap field-gray-wrap traveler-field">
                <span class="user"></span>
                <ng-autocomplete
                  [data]="travelerList"
                  [searchKeyword]="keyword"
                  (selected)='selectTraveler($event)'
                  (inputChanged)='getloadProfiles($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplateProfiles"
                  (inputCleared)="searchCleared('traveler-list')"
                  [notFoundTemplate]="notFoundProfilesTemplate"
                  [debounceTime]="400"
                  [isLoading]="state.isLoadingTraveler"
                  [minQueryLength]="3"
                  placeHolder="{{form.ResourceTypeID == '' ? 'Select Business Profile first' : 'Search Traveler.'}}"
                  class="testing"
                  name="traveler"
                  autocomplete="off"
                >

                </ng-autocomplete>

                <ng-template #itemTemplateProfiles let-item>
                  <a href="javascript:void(0)">
                    <div class="auto-txtwrap">
                      <div class="autoicon">
                        <span class="fa" [ngClass]="{'fa-plane': item['glyph'] == 'airport', 'fa-map-marker': item['glyph'] == 'locality' }"></span>
                      </div>
                      <div class="autotxt">
                        <strong [innerHTML]="item.description"></strong><span>({{item.text}})</span>
                      </div>
                    </div>
                  </a>
                </ng-template>

                <ng-template #notFoundProfilesTemplate let-notFound>
                  {{state.errorMsg}}
                </ng-template>
                <div class="" *ngIf="state.error">
                  <label class="error">{{state.error['message']}}</label>
                </div>
                <!--                  <input type="text" placeholder="Select Business Profile First" class="form-control">-->
                <!--                  <span class="fa fa-paper-plane-o"></span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-sidebar">
        <div class="custom-nav" id="tabsCustom">
          <ul>
            <li *ngFor="let group of state.templateGroups" class="" [ngClass]="{'active': group.name == state.selectedGroup['name']}">
              <a href="javascript:void(0)" (click)="setTemplateGroup(group)"><em class="{{group.cssClass}}"></em> <span>{{group.name}}</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="custom-main template-outer">

        <ng-container *ngIf="state.loadingTemplate">
          <div class="table-loader">Processing...</div>
        </ng-container>
        <ng-container *ngIf="!state.loadingTemplate">
          <ng-container *ngIf="state.selectedGroup['buildGroup'] != true">
            <div class="row">
              <div class="col-md-12">
                <div class="field-wrap-outer">
                  <label>Template*</label>
                  <div class="field-wrap">
                    <select class="form-control" name="resourceTypeID" [(ngModel)]="form.template" (change)="loadTemplate(form.template)">
                      <option [ngValue]="template.templateID || '00000000-0000-0000-0000-000000000000'" *ngFor="let template of state.selectedGroup['templates']">{{template.name}}</option>
                    </select>
                    <span class="globel-world-icon" *ngIf="!state.initiateBooking"></span>
                    <span class="fa fa-spin fa-spinner" *ngIf="state.initiateBooking"></span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="state.selectedGroup['buildGroup'] == true">
            <div class="trip-radio-wrap">
              <div class="custom-control custom-radio custom-control-inline" *ngFor="let template of state.selectedGroup['templates']; let index=index">
                <input type="radio" id="template_{{index}}" [(ngModel)]="form.template" value="{{template.templateID}}" name="template" class="custom-control-input">
                <label class="custom-control-label" (click)="loadTemplate(template.templateID)" for="template_{{index}}">{{template.name}}</label>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="state.selectedTemplate['isDynamic']">

            <div class="input-group mb-3 field-wrap">
              <select class="form-control no-icon" name="dynamicResource" [(ngModel)]="state.selectedResource">
                <option value="">Select Resource</option>
                <option [ngValue]="resource" *ngFor="let resource of state.selectedTemplate['$resources']">{{resource['resourceItems'][0].text}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-info" type="button" (click)="addResourceToTemplate()">Add  <span class="fa fa-plus position-static font-14 ml-2"></span> </button>
              </div>
            </div>
          </ng-container>
          <div class="accordion accordion-sm custom-accordion text-left" id="accordionExample">
            <div class="mb-3" id="accordion_{{i}}" *ngFor="let resource of state.selectedTemplate['resources']; let i = index">
              <div class="card-header" id="heading_{{i}}">
                <h2 class="accordion-link" aria-expanded="false" [attr.data-toggle]="state.selectedTemplate['resources'].length > 1 ? 'collapse': ''" [attr.data-target]="state.selectedTemplate['resources'].length > 1 ? '#collaps-'+i : ''" [attr.aria-expanded]="'true'" [ngClass]="{'has-delete-icon': state.selectedTemplate['isDynamic']}">
                  {{resource.resourceItems[0].text}}
                  <a *ngIf="state.selectedTemplate['isDynamic']" href="javascript:void(0)" (click)="removeResource(i)" class="fa fa-trash-o remove-accordion"></a>
                </h2>
              </div>
              <div id="collaps-{{i}}" class="collapse show" [ngClass]="{'show1': resource.isOpen}" >
                <div class="box box-lr">
                  <div class="row" *ngIf="state.selectedTemplate['isDynamic'] || i == 0">
                    <div class="col-md-6">
                      <div class="field-wrap-outer">
                        <label>Departure Date<span class="" [ngClass]="{'text-danger': !resource['BeginDate']}">*</span></label>

                        <div class="field-wrap" [ngClass]="{'is-invalid-wrap' : resource['errors']['BeginDate']&&resource['errors']['BeginDate'] != '' }">
                          <input type="text"
                                 [(ngModel)]="resource['BeginDate']"
                                 bsDatepicker
                                 [bsConfig]="bsConfig"
                                 (ngModelChange)="setDateTo(i); resetErrorState(i, 'BeginDate')"
                                 [minDate]="minDateFrom"
                                 [maxDate]="maxDateFrom"
                                 placeholder="Departure Date"
                                 name="departure_date"
                                 autocomplete="off"
                                 class="form-control">
                          <span class="fa fa-calendar-o"></span>
                          <label class="error text-danger" *ngIf="resource['errors']['BeginDate']">{{resource['errors']['BeginDate']}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="resource.canSearchByTime">
                      <div class="row">
                        <div class="col-md-8 col-7">
                          <div class="field-wrap-outer">
                            <label>Departure Time</label>
                            <div class="field-wrap time-picker-wrap field-wrap-outer field-gray-wrap"
                                 [ngClass]="{
                                'is-invalid-wrap' : false,
                                'is-valid-wrap' : false
                             }" id="BeginTime_container_{{i+1}}">
                              <ng-autocomplete
                                [data]="resource['BeginTimeFormat'] == 24 ? TPService.timeSlots24Format: TPService.timeSlots12Format"
                                [searchKeyword]="timePickerkeyword"
                                (inputFocused)='onFocused($event)'
                                (selected)='selectTime($event, i, "BeginTime")'
                                [itemTemplate]="beginTime_"
                                [debounceTime]="400"
                                [isLoading]="state.beginTimeProcessing"
                                [minQueryLength]="1"
                                placeHolder="Departure Time"
                                name="search"
                              >
                              </ng-autocomplete>

                              <ng-template #beginTime_ let-item>
                                <a href="javascript:void(0)">
                                  <div class="auto-txtwrap">
                                    <div class="autotxt">
                                      <span [innerHTML]="item.text"></span>
                                    </div>
                                  </div>
                                </a>
                              </ng-template>
                              <label class="error text-danger" *ngIf="resource['errors']['BeginTime']">{{resource['errors']['BeginTime']}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-5">

                            <label>&nbsp;</label>
                            <div class="field-wrap ">
                              <select class="form-control no-icon" [(ngModel)]="resource['BeginTimeFormat']"  (change)="resetModel(i, 'BeginTime')">
                                <option value="">AM/PM</option>
                                <option value="24">24 Hrs</option>
                              </select>
                            </div>

                        </div>
                      </div>

                    </div>

                    <div class="col-md-6" *ngIf="resource.requiresEndDate">
                      <div class="field-wrap-outer">
                        <label>Return Date<span class="" [ngClass]="{'text-danger': !resource['EndDate']}">*</span></label>

                        <div class="field-wrap" [ngClass]="{'is-invalid-wrap' :  resource['errors']['EndDate'] && resource['errors']['EndDate'] != '' }">
                          <input type="text"
                                 [(ngModel)]="resource['EndDate']"
                                 bsDatepicker
                                 [minDate]="minDateFrom"
                                 [maxDate]="maxDateFrom"
                                 [bsConfig]="bsConfig"
                                 (ngModelChange)="setDateFrom(i); resetErrorState(i, 'EndDate')"
                                 placeholder="Return Date"
                                 autocomplete="off"
                                 name="arrival_date"
                                 class="form-control">
                          <span class="fa fa-calendar-o"></span>
                          <label class="error text-danger" *ngIf="resource['errors']['EndDate']">{{resource['errors']['EndDate']}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf="resource.requiresEndDate && resource.canSearchByTime">
                      <div class="row">
                        <div class="col-md-8 col-7">
                          <div class="field-wrap-outer time-picker-wrap">
                            <label>Return Time</label>
                            <div class="field-wrap time-picker-wrap field-wrap-outer field-gray-wrap"
                                 [ngClass]="{
                                'is-invalid-wrap' : false,
                                'is-valid-wrap' : false
                             }" id="ReturnTime_container_{{i+1}}">
                              <ng-autocomplete
                                [data]="resource['ReturnTimeFormat'] == 24 ? TPService.timeSlots24Format : TPService.timeSlots12Format"
                                [searchKeyword]="timePickerkeyword"
                                (inputFocused)='onFocused($event)'
                                (selected)='selectTime($event, i, "ReturnTime")'
                                [itemTemplate]="endTime_"
                                [debounceTime]="400"
                                [isLoading]="state.beginTimeProcessing"
                                [minQueryLength]="1"
                                placeHolder="Return Time"
                                name="search"
                              >
                              </ng-autocomplete>

                              <ng-template #endTime_ let-item>
                                <a href="javascript:void(0)">
                                  <div class="auto-txtwrap">
                                    <div class="autotxt">
                                      <span [innerHTML]="item.text"></span>
                                    </div>
                                  </div>
                                </a>
                              </ng-template>
                              <label class="error text-danger" *ngIf="resource['errors']['BeginTime']">{{resource['errors']['BeginTime']}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-5">

                            <label>&nbsp;</label>
                            <div class="field-wrap ">
                              <select class="form-control no-icon" [(ngModel)]="resource['ReturnTimeFormat']" (change)="resetModel(i, 'ReturnTime')">
                                <option value="">AM/PM</option>
                                <option value="24">24 Hrs</option>
                              </select>
                            </div>

                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="row template-fields" >
                    <app-form-builder class="col-md-6" *ngFor="let field of resource['searchFields']; let j =index" [field]="field"
                                      [resourceType]="resource['resourceTypeID']"
                                      [index]="i+'_'+j"
                                      [bookingID] = "form.bookingID"
                                      [form] = "form"
                    ></app-form-builder>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="reservation-bot-btns d-flex">
          <!-- <a href="#" class="btn btn-secondary"><span class="fa fa-angle-left"></span> Back</a> -->
          <button type="submit" class="btn btn-success ml-auto" [disabled]="state.processing" (click)="startBookingSearch()">Next <span class="fa fa-angle-right"></span> <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>
        </div>
        <!--<button type="submit" class="btn btn-info btn-block" [disabled]="state.processing" (click)="startBookingSearch()">Search <span class="fa fa-spin fa-spinner" *ngIf="state.processing"></span></button>-->

      </div>
    </ng-container>
  </div>
</div>


<script src="/assets/js/reservation.js" defer></script>
