body,
.theme-dark-primary{
    background: url(../images/login/banner-2.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay-bg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.30);
}
img{
    max-width: 100%;
}
.custom-section-wrap{
    text-align: center;
    padding: 50px 0 100px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
    .lg-spacetop{
        padding-top: 100px;;
    }
    .custom-section-wrap .inline-block{
        display: inline-block;
    }
    .custom-logo-top{
        display: inline-block;
        background: linear-gradient(to right, #3f7892 , #09425d);
        color: #fff;
        border-color: transparent;
        border-radius: 5px 5px 0 0;
    }
    .custom-logo-top.no-icon{
        padding-right: 25px;
    }
    .font-14{
        font-size: 14px;
    }
.custom-section{
    background: #fff;
}
.custom-top-section{
    text-align: left;
    padding: 35px 35px 5px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 7px rgba(0,0,0, 0.2);
    position: relative;
}
    .custom-top-section .tagtop{
        background: rgba(9,66,93, 0.8);
        color:#fff;
        font-size: 20px;
        display: inline-block;
        padding: 10px 20px 11px;
        position: absolute;
        right: 0;
        top: 0;
    }
.custom-sidebar{
    border-bottom: 1px solid #e7e7e7;
}
    .custom-nav ul,
    .custom-nav li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .custom-nav ul{
        display: flex;
        flex-wrap: wrap;
    }
    .custom-nav ul li{
        width: 25%;
    }
    .custom-nav a{
        display: block;
        font-size: 17px;
        padding: 20px 20px 15px;
        color: #111;
        text-decoration: none;
    }
    .custom-nav a em{
        font-style: normal;
        font-size: 30px;
        margin-bottom: 7px;
        display: inline-block;
    }
    .custom-nav a span{
        display: block;
    }
    .custom-nav li.active a{
        background: #09425d;
        /* background-image: linear-gradient(#09425d, #3f7892); */
        background-image: linear-gradient(to bottom, #f3f4f6, #e8e9ed);
        color: #424242;
    }
.custom-main{
    padding: 35px;
    min-height: 376px;
}
    .custom-header{
        text-align: left;
        padding: 0 0 10px;
        border-bottom: 1px solid #ccc;
        margin: 0 0 30px;
    }
    .custom-header h2{
        font-weight: bold;
    }
    .custom-title h2{
        font-weight: 600;
        margin: 0 0 25px;
    }
    .custom-title h2 span{
        display: inline-block;
        background: url(../images/logo.png) no-repeat;
        background-size: 45px auto;
        padding-left: 60px;
        line-height: 48px;
    }
    .field-wrap{
        position: relative;
        margin: 0 0 20px;
    }
    .field-wrap-outer label{
        display: block;
        text-align: left;
    }
    .field-wrap .form-control{
        margin: 0;
        border:1px solid #eee;
        background: #eeeeee;
        font-size: 16px;
        padding: 12px 15px 12px 45px;
        height: 50px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    .field-wrap .form-control:focus{
        -moz-box-shadow: 0 0 0 0.2rem rgba(9,66,93,.25);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(9,66,93,.25);
        box-shadow: 0 0 0 0.2rem rgba(9,66,93,.25);
    }
    .field-wrap select.form-control{
        background-image: url(../images/arrow-down-black.png) !important;
        background-position: calc(100% - 10px) center !important;
        background-repeat: no-repeat !important;
        padding-right: 35px;
        -webkit-appearance: none;
    }
    .field-wrap .form-control.no-icon{
        padding-left: 15px;
    }
    .traveler-field.field-wrap .form-control.pl-45{
        padding-left: 45px !important;
    }
    .field-wrap .input-group-append{
        position: relative;
        z-index: 1;
    }
    .custom-main .btn{
        font-size: 18px;
        padding: 12px 15px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    .flex-automate{
        width: auto;
        flex: 1 1 auto;
    }
    .ptb-10{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .custom-main .input-group-append .btn{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .field-wrap .fa{
        position: absolute;
        left: 17px;
        top: 17px;
    }
    .field-wrap .clockicon{
        left: 22px;
    }
    .trip-radio-wrap{
        text-align: left;
        padding: 6px 0 25px;
    }
    .trip-radio-wrap .custom-radio{
        position: relative;
        padding-left: 0;
    }
    .trip-radio-wrap label {
        display: block;
        cursor: pointer;
        border: 2px solid #a5b2c5;
        padding: 8px 25px 8px 45px;
        border-radius: 30px;
    }
    .trip-radio-wrap .custom-control-input,
    .trip-radio-wrap .custom-control-label::after,
    .trip-radio-wrap .custom-control-label::before{
        position: absolute;
        left: 16px;
        top: 11px;
    }
    .trip-radio-wrap input[type="radio"]:checked+label {
        background:linear-gradient(to right, #3f7892 , #09425d);
        border-color: #09425d;
        color: #fff;
    }

.tabs-content{
    display: none;
}
.customer-logo{
    background: #fff;
    padding: 25px 45px;
}
.book-time-wrap{
    text-align: left;
    padding: 10px 0 0;
}
    .book-time-wrap h3{
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #3f7892;
        padding: 0 0 7px;
        margin: 0 0 15px;
    }
.field-wrap .bs-timepicker-field{
  padding: 12px 5px;
}

/* hide arrow of time picker */
.time-picker-wrap tbody > tr:nth-child(1),
.time-picker-wrap tbody > tr:nth-child(3){
    display: none !important;
}
.time-picker-wrap .btn-default{
    background: #eeeeee;
    color: #495057;
    font-size: 16px;
    padding: 12px 14px;
}

.accordion-sm{
}
  .accordion-sm .accordion-link{
    font-size: 15px;
    padding:14px 20px 15px;
  }
  .accordion-sm .accordion-link:before{
    font-size: 22px;
    top: 13px;
    right: 20px;
  }
  .accordion-sm  .accordion-link .remove-accordion{
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
  }
  .accordion-sm .accordion-link .confirmed-msg{
      margin-left: 15px;
      display: inline-block;
  }
  .accordion-sm .has-delete-icon{
      padding-right: 75px;
  }
    .accordion-sm .has-delete-icon .remove-accordion{
        right: 45px;
    }
  .accordion-sm .accordion-link.noDelIcon:before{
      right: 20px;
  }
    .accordion-sm .custom-accordion > h3{
        font-size: 16px;
    }
    .accordion-sm .custom-accordion > h3 a{
        padding-top: 11px;
        padding-bottom: 11px;
        font-weight: normal;
    }
    .accordion-sm .custom-accordion > h3.active a:before{
        top: 9px;
    }
    .accordion-sm .custom-accordion > h3 a:before{
        top: 10px;
    }
.accordion-has-book{
}
    .accordion-has-book .accordion-link{
        padding-right: 130px;
    }
    .accordion-has-book .accordion-link:before{
        right: 20px;
    }
    .accordion-has-book .accordion-link .remove-accordion{
        right: 110px;
    }
    .accordion-has-book .accordion-link:before{
        right: 85px;
    }
    .accordion-has-book .btn-book{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        line-height: inherit;
    }
    .accordion-has-book .btn-book .fa-spin{
        display: inline-block !important;
    }
.icon-flight-hotel,
.template-group-flight{
    display: block;
    background: url(../images/icons/icon-flight2.png) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
    margin: 0 auto 10px;
}
.plane-icon{
    display: inline-block;
    background: url(../images/reservation/flight.png) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
.hotel-icon,
.template-group-hotel{
    display: inline-block;
    background: url(../images/reservation/hotel-icon.png) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
.car-icon,
.template-group-car{
    display: inline-block;
    background: url(../images/reservation/car-icon.png) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
.template-icon,
.template-group-templates{
    display: inline-block;
    background: url(../images/reservation/template-icon.png) no-repeat;
    background-size: 100% auto;
    width: 32px;
    height: 32px;
}
    .flight-hotel{
        display: inline-block;
        background: url(../images/reservation/flight-hotel.png) no-repeat;
        background-size: 100% auto;
        width: 55px;
        height: 45px;
    }
    .flight-car{
        display: inline-block;
        background: url(../images/reservation/flight-car.png) no-repeat;
        background-size: 100% auto;
        width: 55px;
        height: 45px;
    }
    .flight-car-hotel{
        display: inline-block;
        background: url(../images/reservation/flight-car-hotel.png) no-repeat;
        background-size: 100% auto;
        width: 80px;
        height: 45px;
    }
    .bundle-icon{
        display: inline-block;
        background: url(../images/reservation/bundle.png) center center no-repeat;
        background-size: 100% auto;
        width: 25px;
        height: 45px;
    }

/* .field-gray-wrap{
    padding-bottom: 25px;
} */
.template-wrap{
    padding-bottom: 25px;
}
.reservation-bot-btns .btn{
    padding: 8px 30px;
}

@media(max-width: 991px){
    .custom-section-wrap{
        width: 95%;
    }
}
@media(max-width: 767px){
    .custom-section-wrap{
        width: 98%;
        padding-top: 80px !important;
    }
    .custom-logo-top{
        font-size: 14px;
    }
    .custom-section-wrap h1 .custom-logo{
        display: block;
    }
    .custom-nav ul li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
        .custom-nav a{
            width: 100%;
            font-size: 12px;
            padding: 20px 2px 15px;
        }
    .custom-main{
        padding: 25px 20px 35px;
        min-height: inherit;
    }
    .trip-radio-wrap{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
    }
        .trip-radio-wrap .custom-radio{
            width: 33.33%;
            padding: 0 3px;
            margin: 0;
        }
        .trip-radio-wrap .custom-control-input, 
        .trip-radio-wrap .custom-control-label::after, 
        .trip-radio-wrap .custom-control-label::before{
            left: 50%;
            top: 8px;
            margin-left: -10px;
        }
        .trip-radio-wrap label{
            font-size: 12px;
            padding: 30px 3px 12px 3px;
            width: 100%;
            text-align: center;
            line-height: 1.3;
            border-radius: 5px;
        }
    .custom-top-section{
        padding: 35px 20px;
    }
    .field-wrap{
        margin-bottom: 15px;
    }
    .tabs-secondary .flight-car-hotel{
        background-position: center center;
    }
    .accordion-has-book .accordion-link{
        padding-right: 35px;
    }
    .accordion-has-book .accordion-link:before{
        right: 15px;
    }
    .accordion-sm.accordion-has-book .remove-accordion{
        position: static;
        margin: 7px 7px 0 0;
        vertical-align: middle;
    }
    .accordion-sm.accordion-has-book .btn-book{
        position: static;
        font-size: 14px;
        padding: 7px 15px;
        margin-top: 10px;
    }
    .custom-main .input-group-append .btn{
        font-size: 14px;
        padding:10px 15px;
        margin-top: 5px;
    }
    .accordion-sm .accordion-link .confirmed-msg{
        display: block;
        margin: 5px 0 0;
    }
}