/* SearchResult start */
body.theme-dark .reservation-sidebar{
  color:#fff;
  background: #09425d;
  box-shadow: 0 1px 20px 0 rgba(174, 195, 204, 0.22);
}
body.theme-dark .reservation-sidebar .accordon-heading a,
body.theme-dark .reservation-sidebar .accordon-heading a:before,
body.theme-dark .reservation-sidebar .accordon-heading a.icon-contain,
body.theme-dark .label-num{
  color: #fff !important;
}
body.theme-dark .icon-price:after{background: url(../images/reservation/icon-tag-white.png) no-repeat;}
body.theme-dark .icon-departure:after{background: url(../images/reservation/icon-departure-white.png) no-repeat;}
body.theme-dark .icon-arrival:after{background: url(../images/reservation/icon-arrival-white.png) no-repeat;}
body.theme-dark .icon-time:after{background: url(../images/reservation/icon-time-white.png) no-repeat;}
body.theme-dark .ng5-slider .ng5-slider-bubble{
  color: #ccc;
}
body.theme-dark .reservation-content-area .box,
body.theme-dark .article-content-booking{
  color: #fff;
  background: #3e7792;
  background-image: linear-gradient(#3e7792, #5bc0ed);
}
body.theme-dark .selection-table.table th,
body.theme-dark .selection-table.table td,
body.theme-dark .content-booking-left,
body.theme-dark .content-booking-left h3,
body.theme-dark .display-detail{
  color:#fff;
}
body.theme-dark .table-price-tickets.table a,
body.theme-dark .selection-table.table th h4,
body.theme-dark .selection-table.table td h4{
  color:#fff !important;
}
body.theme-dark .filters-btn{
  background: linear-gradient(to right, #0b638b, #83cced);
  border-color: #24b5f6;
  color: #fff;
}
body.theme-dark .booking-time ul li{
  background: url(../images/reservation/arrow-right-white.svg) right center no-repeat  !important;
}

body.theme-dark .rev-datewrap .form-control,
body.theme-dark .select-field{
  background: linear-gradient(90deg,#3f7892,#09425d);
  border-color: #292e32 !important;
  color: #fff !important;
}
body.theme-dark .resv-btns a{
  background: linear-gradient(90deg,#09425d,#3f7892);
  border-color: #292e32 !important;
  color: #fff !important;
}
body.theme-dark .reservation-sidebar-inner option {
  color: #000;
}
body.theme-dark .reservation-sidebar ::-webkit-scrollbar-track {
  background: rgba(255,255,255, 0.2) !important;
}
body.theme-dark .reservation-sidebar ::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0.2) !important;
}
body.theme-dark .full-btn{
  background: linear-gradient(90deg,#cee1ea,#09415a) !important;
  border:none !important;
  color:#fff !important;
}
/* SearchResult end */

.theme-dark .box-skin{
  background:none;
  color:#fff;
}
.theme-dark .table-skin{
  color:#fff;
}
.theme-dark .table-skin select{
  color:#fff;
}
.theme-dark .table-skin select:focus{
  color:#000;
}
.theme-dark tr.selected td{
  background-color: rgba(0,0,0,.2) !important;
}
.theme-dark .table-skin option{
  color:#000;
}
body.theme-dark .show-options{
  color: #fff;
}

/* house keeping */
.theme-dark .filter-section,
.theme-dark .filter-transparent .form-control{
    background: #2589b9 !important;
    border-color: #2589b9 !important;
}
.theme-dark .filter-section label,
.theme-dark .filter-transparent .form-control{
    color: #fff !important;
}
.theme-dark .filters-outer{
  border-color: #373737 !important;
}
.theme-dark .filters-view-sm a{
  background: #373737 !important;
}
body.theme-dark .select-field-secondary::-webkit-input-placeholder {color: #fff;}
body.theme-dark .select-field-secondary:-ms-input-placeholder {color: #fff;}
body.theme-dark .select-field-secondary::placeholder {color: #fff;}
