<table class="table table-sm table-editable">
  <thead>
  <th *ngIf="state.isMassEditting"></th>
  <th>Date </th>
  <th>Day</th>
  <th>Total</th>
  <th>Avail</th>
  <th>Pickup</th>
  <th>%</th>
  <th *ngFor="let feature of remoteData['features']">{{feature.description}}</th>
  <th>Total</th>
  </thead>
  <tbody>
  <tr *ngFor="let row of remoteData['data']" [ngClass]="{'edited-tr': state.isEditting}">
    <td *ngIf="state.isMassEditting">
      <input type="checkbox" [(ngModel)]="row.checked" />
    </td>
    <td>{{dateParser.parseDate(row.date)}}</td>
    <td>{{row.dayOfWeek}}</td>
    <td>{{row.total || 0}}</td>
    <td>{{row.available || 0}}</td>
    <td>{{row.pickup || 0}}</td>
    <td>{{row.percentage || 0}}</td>
    <td *ngFor="let feature of row.features">
      {{feature['number'] || 0}}
    </td>
    <td>{{row.total}}</td>
  </tr>
  </tbody>
</table>
