<div class="login-section">
    <div class="login-sidebar">
      <div class="login-nav" id="tabsCustom">
        <ul>
          <li class="active">
            <a href="javascript:void(0)"><em class="fa fa-user-circle"></em> <span>Login</span></a>
<!--            #content-1"-->
          </li>
          <li>
            <a href="javascript:void(0)"><em class="fa fa-lock"></em> <span>Forget Password?</span></a>
          </li>
        </ul>
      </div>
      <div class="customer-logo">
        <img  src="/booking-tool/assets/images/login/customer-logo.png" alt="">
      </div>
    </div>
    <div class="login-main">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-content tabs-content" id="content-1" style="display: block;">
        <div class="login-title">
          <h2><span>Login</span></h2>
        </div>
        <div class="field-wrap">
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
          <span class="fa fa-envelope-o"></span>
        </div>
        <div class="field-wrap">
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
          <span class="fa fa-key"></span>
        </div>
        <button [disabled]="loading" type="submit" class="btn btn-success btn-block">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div class="forget-wrap">
          <a href="javascript:void(0)" [routerLink]="'/auth/register'">Register?</a>
        </div>
      </div>
      </form>
      <div class="forget-content tabs-content" id="content-2">
        <div class="login-title">
          <h2><span>Reset Password</span></h2>
        </div>
        <p>
          Enter your email address below and we'll send you an email with instructions.
        </p>
        <br>
        <div class="field-wrap">
          <input type="text" class="form-control" placeholder="Email">
          <span class="fa fa-envelope-o"></span>
        </div>
        <input type="submit" class="btn btn-success btn-block" value="Reset">
      </div>
    </div>
  </div>
