<div class="row">
  <ng-container *ngIf="field.searchCriteriaID != '' && !field.numeric && field.minSearchCharacters">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}{{field.isRequired ? '*' : ''}}</label>
      <div class="{{wrapClasses}}">
        <ng-autocomplete
          [data]="remoteList"
          [searchKeyword]="keyword"
          (selected)='selectItem($event)'
          (inputChanged)='getServerResponse($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplateRemote_"
          (inputCleared)="searchCleared()"
          [notFoundTemplate]="notFoundTemplate_"
          [debounceTime]="400"
          [isLoading]="field['processing']"
          [minQueryLength]="field.minSearchCharacters"
          placeHolder="Search ..."
          name="search"
        >
        </ng-autocomplete>

        <ng-template #itemTemplateRemote_ let-item>
          <a href="javascript:void(0)">
            <div class="auto-txtwrap">
<!--              <div class="autoicon">-->
<!--                <span class="fa" [ngClass]="{'fa-plane': item.glyph == 'airport', 'fa-map-marker': item.glyph == 'locality' }"></span>-->
<!--              </div>-->
              <div class="autotxt">
                 <strong [innerHTML]="item.text"></strong><span>({{item.description}})</span>
              </div>
            </div>
          </a>
        </ng-template>

        <ng-template #notFoundTemplate_ let-notFound>
          {{errorMsg}}
        </ng-template>
        <div class="" *ngIf="error">
          <label class="error">{{error['message']}}</label>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="field.searchCriteriaID != '' && !field.numeric && !field.minSearchCharacters">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}{{field.isRequired ? '*' : ''}}</label>
      <div class="{{wrapClasses}}">
        <div class="field-wrap">
          <select class="form-control no-icon" [(ngModel)]="field.model">
            <option [ngValue]="option" *ngFor="let option of remoteList">{{option.text}}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="field.searchCriteriaID != '' && field.numeric">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}{{field.isRequired ? '*' : ''}}</label>
      <div class="{{wrapClasses}}">
        <div class="field-wrap">
          <select class="form-control no-icon" [(ngModel)]="field.model">
            <option [ngValue]="'00000000-0000-0000-0000-000000000000'">Select</option>
            <option [ngValue]="option.value" *ngFor="let option of remoteList">{{option.text}}</option>
          </select>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="field.searchCriteriaID == ''">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}{{field.isRequired ? '*' : ''}}</label>
      <div class="{{wrapClasses}}">
        <div class="field-wrap">
          <input type="text"
                 [(ngModel)]="field.model"
                 placeholder="{{field.fieldRelation }}"
                 name="{{field.name}}"
                 class="form-control no-icon">
        </div>
      </div>
    </div>
  </ng-container>
</div>
