<ng-container *ngIf="field.searchCriteriaID != '' && !field.numeric">
  <div class="col-md-12 col-12" >
    <h3>{{field.name}}{{field.isRequired ? '*' : ''}}</h3>
    <div class="field-wrap-outer field-gray-wrap">
      <ng-autocomplete
        [data]="remoteList"
        [searchKeyword]="field.keyword"
        (selected)='selectItem($event)'
        (inputChanged)='getServerResponse($event)'
        (inputFocused)='onFocused($event)'
        itemTemplate="#itemTemplateRemote_{{index}}"
        (inputCleared)="searchCleared()"
        notFoundTemplate="#notFoundTemplate_{{index}}"
        [debounceTime]="400"
        [isLoading]="field['processing']"
        [minQueryLength]="3"
        [(ngModel)]="field.keyword"
        placeHolder="Search ..."
        name="search"
      >
      </ng-autocomplete>
      <ng-template *ngIf="remoteList.length>0">
        <a href="javascript:void(0)" *ngFor="let item of remoteList">
          <div class="auto-txtwrap">
            <div class="autoicon" *ngIf="item.glyph">
              <span class="fa" [ngClass]="{'fa-plane': item.glyph == 'airport', 'fa-map-marker': item.glyph == 'locality' }"></span>
            </div>
            <div class="autotxt">
              <strong>{{item.text}}</strong><span>({{item.description}})</span>
            </div>
          </div>
        </a>
      </ng-template>

      <div class="" *ngIf="error">
        <label class="error">{{error['message']}}</label>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="field.searchCriteriaID != '' && field.numeric">
  <div class="col-md-12 col-12" >
    <h3>{{field.name}}{{field.isRequired ? '*' : ''}}</h3>
    <div class="field-wrap-outer field-gray-wrap">
      <div class="field-wrap">
        <input type="number"
               [(ngModel)]="field.defaultValue"
               placeholder="{{field.fieldRelation }}"
               name="{{field.name}}"
               [max]="field.numberic.maximumValue"
               [min]="field.numberic.minimumValue"
               class="form-control no-icon"
        >
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="field.searchCriteriaID == ''">
  <div class="col-md-12 col-12" >
    <h3>{{field.name}}{{field.isRequired ? '*' : ''}}</h3>
    <div class="field-wrap-outer field-gray-wrap">
      <div class="field-wrap">
        <input type="text"
               [(ngModel)]="field.defaultValue"
               placeholder="{{field.fieldRelation }}"
               name="{{field.name}}"
               class="form-control no-icon">
      </div>
    </div>
  </div>
</ng-container>
