<div class="row">
  <ng-container *ngIf="field.searchCriteriaID != '' && !field.numeric && (field.minSearchCharacters || field.allowFreeText)">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}<span [ngClass]="{'text-danger': field.isRequired && !field['model'].value}">{{field.isRequired ? '*' : ''}}</span></label>
      <div class="field-wrap {{wrapClasses || 'field-wrap-outer field-gray-wrap'}}"
      [ngClass]="{
              'is-invalid-wrap' : field['validationError'] && field['validationError'] != 'passed' && field.isRequired,
              'is-valid-wrap' : field['validationError']  && field['validationError'] == 'passed' && field.isRequired
           }">
          <ng-autocomplete
            [data]="remoteList"
            [searchKeyword]="keyword"
            (selected)='selectItem($event)'
            (inputChanged)='getServerResponse($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplateRemote_"
            (inputCleared)="searchCleared()"
            [notFoundTemplate]="notFoundTemplate_"
            [debounceTime]="400"
            [isLoading]="field['processing']"
            [minQueryLength]="field.minSearchCharacters || 1"
            placeHolder="Search ..."
            name="search"
          >
          </ng-autocomplete>

          <ng-template #itemTemplateRemote_ let-item>
            <a href="javascript:void(0)">
              <div class="auto-txtwrap">
                <div class="autoicon">
                  <span class="fa" [ngClass]="{'fa-plane': item.glyph == 'airport', 'fa-map-marker': item.glyph == 'locality' }"></span>
                </div>
                <div class="autotxt">
                   <strong [innerHTML]="item.text"></strong><span>({{item.description}})</span>
                </div>
              </div>
            </a>
          </ng-template>

          <ng-template #notFoundTemplate_ let-notFound>
            {{errorMsg}}
          </ng-template>
          <div class="" *ngIf="error">
            <label class="error">{{error['message']}}</label>
          </div>
          <label class="error text-danger" *ngIf="field.validationError && field.validationError != 'passed'">{{field.validationError}}</label>

      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="field.searchCriteriaID != '' && !field.numeric && !field.minSearchCharacters && !field.allowFreeText">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}<span [ngClass]="{'text-danger': field.isRequired && !field['model'].value}">{{field.isRequired ? '*' : ''}}</span></label>
      <div class="">
        <div class="field-wrap">
          <select class="form-control" [ngClass]="{
                    'no-icon': !field.processing,
                    'has-icon': field.processing,
                    'is-invalid' : field['validationError'] && field['validationError'] != 'passed' && field.isRequired,
                    'is-valid' : field['validationError'] && field['validationError'] == 'passed' && field.isRequired
                    }" [(ngModel)]="field.model" [disabled]="field.processing" (change)="checkValidationError()">
            <option [ngValue]="''">Select {{field.name}}</option>
            <option [ngValue]="option" *ngFor="let option of remoteList">{{option.text}}</option>
          </select>
          <span class="fa fa-spin fa-spinner" *ngIf="field.processing"></span>
          <label class="error text-danger" *ngIf="field.validationError && field.validationError != 'passed'">{{field.validationError}}</label>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="field.searchCriteriaID != '' && field.numeric">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}<span [ngClass]="{'text-danger': field.isRequired && field['model'] == '00000000-0000-0000-0000-000000000000'}">{{field.isRequired ? '*' : ''}}</span></label>
      <div class="">
        <div class="field-wrap">
          <select class="form-control no-icon"
                  [ngClass]="{
                  'is-invalid' : field['validationError'] && field['validationError'] != 'passed' && field.isRequired,
                  'is-valid' : field['validationError'] && field['validationError'] == 'passed' && field.isRequired
                  }"
                  [(ngModel)]="field.model" (change)="checkValidationError()">
            <option [ngValue]="'00000000-0000-0000-0000-000000000000'">Select</option>
            <option [ngValue]="option.value" *ngFor="let option of remoteList">{{option.text}}</option>
          </select>
          <label class="error text-danger" *ngIf="field.validationError && field.validationError != 'passed'">{{field.validationError}}</label>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="field.searchCriteriaID == ''">
    <div class="col-md-12 col-12" >
      <label>{{field.name}}<span [ngClass]="{'text-danger': field.isRequired && field.model == ''}">{{field.isRequired ? '*' : ''}}</span></label>
      <div class="{{wrapClasses}}">
        <div class="field-wrap">
          <input type="text"
                 [(ngModel)]="field.model"
                 (keyup)="checkValidationError()"
                 placeholder="{{field.name }}"
                 name="{{field.name}}"
                 [ngClass]="{
                  'is-invalid' : field['validationError'] && field['validationError'] != 'passed' && field.isRequired,
                  'is-valid' : field['validationError'] && field['validationError'] == 'passed' && field.isRequired
                  }"
                 class="form-control no-icon">
          <label class="error text-danger" *ngIf="field.validationError && field.validationError != 'passed'">{{field.validationError}}</label>
        </div>
      </div>
    </div>
  </ng-container>
</div>
